<div class="modal fade" id="conbalModal" tabindex="-1" role="dialog" aria-labelledby="conbalModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #fff;">
      <div class="modal-header editmdhd">
        <h1 class="modal-title justify-content-center" style="font-size: 25px; align-items: center !important; text-align:center !important; text-shadow: none;" id="">Authorize New Users</h1>
        <button type="button" class="close" data-dismiss="modal"  onComplete="$('#divId').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% curauth = SelectedAuthorization.pluck(:selected_authorization) %>
        <div class="row justify-content-center">
          <div class="" style="width:auto;">
            <% if curauth == [false] %>
            <%= link_to "Authorize", authorize_user_path, class: "btn btn-light btn-sm btn-format", data: {confirm: "Are you sure you want to authorize new users?"}%>
            <% else %>
            <%= link_to "Unauthorize", authorize_user_path, class: "btn btn-light btn-sm btn-format", data: {confirm: "Are you sure you want to unauthorize new users?"}%>
            <% end %>
          </div>
        </div>
        <br>

          <div class="row justify-content-center">
            <!-- table main table content -->

            <div class="row">

              <div class="col">
                <div class="card" style="width: 40rem;">
                  <div class="card-body">
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item list-group-emails">
                        <%= form_for @verifiedusers do |f| %>

                          <%= f.label :email, "Verify Email"%>
                          <%= f.text_field :email, class: "form-control formemail", autofocus: true, required: true%><br>
                          <%= f.submit "Verify New User", data:{confirm: "Are you sure you want to create a new verified user?"}, class: 'btn btn btn-light btn-sm btn-new btn-authorizeuser', style: 'padding-left: 0px !important; margin-left: 0px !important;'%>
                        <% end %>

                      </li>
                      <br>
                      <br>
                      <br>
                      <li class="list-group-item list-group-user">
                        <%= bootstrap_form_for :password, url: passwords_path  do |f| %>
                          <%= f.select :email, (@restpasswordusers.collect { |c| [c.email] }), class: 'form_collect'%>

                          <%= hidden_field_tag(:forget_password, 'forget_password') %>
                          <%= f.submit "Allow User to Reset Password", class: 'btn btn btn-light btn-sm btn-new btn-authorizeuser', style: 'width:auto; padding-left: 0px !important; margin-left: 0px !important;'%>
                        <% end %>

                      </li>

                      <!--
                      <li class="list-group-item list-group-emails">
                        <%#= bootstrap_form_for @selectedemail  do |f| %>


                          <%#= f.select :email, (@currentusers.collect { |c| [c.email] }), class: 'form_collect'%>
                          <br>
                          <%#= f.submit "Resend Email",data:{confirm: "Are you sure you want to resend link to create account?"}, class: 'btn btn btn-light btn-sm btn-new btn-authorizeuser'%>
                        <%# end %>

                      </li>

                      <br><br>
                      <li class="list-group-item list-group-user">
                        <%#= bootstrap_form_for :password, url: passwords_path  do |f| %>
                          <%#= f.select :email, (@restpasswordusers.collect { |c| [c.email] }), class: 'form_collect'%>
                          <br>
                          <%#= hidden_field_tag(:forget_password, 'forget_password') %>
                          <%#= f.submit "Send Forgot password Email", class: 'btn btn btn-light btn-sm btn-new btn-authorizeuser', style: "width:auto;"%>
                        <%# end %>

                      </li>
-->
                    </ul>

                  </div>
                </div>




              </div>

            </div>
            <!-- End table main table content -->
        </div>
      </div>

        <div class="modal-footer editmdft">

        <button type="button" class="btn btn-secondary" onComplete="$('#divId').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();"
        class="close" data-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
 </div>
