<!DOCTYPE html>
<html>
  <head>

    <style>
     .searchform {
        width: 30%;
      }

     .form-control:focus {
        border-color: #979796;
        box-shadow: none;
        radius: 0;
      }

     .linktext{
        color: #404040;
        border: none;
        background-color: none;
      }
    </style>
  </head>
  <body>


      <div class="content-squish-screens">
        <h6 class = "pghead2"><a style="color:#0061e0; font-style:italic;" href="<%= admin_path %>">Admin</a> / Discrepancies</h6>

        <div class="row">
          <div class="col padding-adjust">
            <%= search_form_for @d, as: :discrepancies, url: all_discrepancies_view_path  do |f| %>
              <div class="row">
                <div class="col-8 padding-adjust">
                <div class="input-group">
                  <%= f.text_field :warehouse_or_reasoncode_cont, class: "form-control input-sm", placeholder: "Search by Warehouse or Reason Code..."%>
                  <div class="input-group-btn">
                    <button class="btn btn-default" style="height:30px; background-color: #c7d785;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                  </div>
                </div>
                <div class="col-1">
                  <%= link_to "Clear Search", request.path, class:"cancel-button btn btn-light btn-sm btn-search" %>
                </div>
              </div> <!-- end second row -->
            <% end %>
          </div>
          <div class="col">
          </div>
        </div><!-- end row-->
        <div class="table-responsive resptbl-class">
          <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
            <thead class="thead-dark">
              <thead>
                <tr>
                  <th>Warehouse</th>
                  <th>Item Number</th>
                  <th>Balance Date</th>
                  <th>Discrepancy Qty</th>
                  <th>UOM</th>
                  <th>Reason Code</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody id="myTable">
                <% @discrepancies.each do |f| %>
                  <tr>
                    <td><%= f.warehouse %></td>
                    <td><%= f.itemnumber %></td>
                    <td><%= f.balancedate&.strftime('%Y-%m-%d %H:%M:%S') %></td>
                    <td><%= f.discrepancyquantity %></td>
                    <td><%= f.uom %></td>
                    <td><%= f.reasoncode %></td>
                    <td><%= f.comments %></td>
                  </tr>
                <% end %>
              </tbody>
            </thead>
          </table>
        </div>


        <div class="ftz_pagination">

          <%= will_paginate @discrepancies, :previous_label => 'prev', :next_label => 'next', param_name: 'discrepancies_page' %>

        </div>


      </div>

  </body>
</html>
