
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Positive Release Report</title>
 
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .header {
      text-align: center;
      background-color: #c7d785;
      padding: 10px;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    table, th, td {
      border: 1px solid #ddd;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

  <div class="header">
    <h2>Positive Release - Shipments</h2>
  </div>
  <table style="width: 100%; margin-top: 10px;">
  <tr>
    <td><strong>Warehouse:</strong> <%= @userWarehouse %></td>
    <td><strong>Date:</strong> <%= @release_date %></td>
  </tr>
  <tr>  
    <td><strong>Customer:</strong> <%= @client %></td>
    <td><strong>Client PO:</strong> <%= @clientpo %></td>

  </tr>
  </table>


  <table>
    <thead>
      <tr>
      <th>SPC</th>
      <th>Codigo</th>
      <th>Pallet</th>
      <th>Lot</th>
      <th>LBO</th>
      <th>Freezer#</th>
      <th>Rack#</th>
      <th>Side</th>
      <th>Location</th>
      <th>Quantity</th>
      </tr>   
    </thead>
    <tbody>
      <% @positive_release_report_data.each do |record| %>
        <tr>
        <td><%= record['spc'] %></td>
        <td><%= record['codigo'] %></td>
        <td><%= record['pallet'] %></td>
        <td><%= record['lot'] %></td>
        <td><%= record['lbo'] %></td>
        <td><%= record['freezernum'] %></td>
        <td><%= record['racknum'] %></td>
        <td><%= record['side'] %></td>
        <td><%= record['location'] %></td>
        <td><%= record['quantity'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table style="width: 100%; margin-top: 10px;">
  <tr>
    <td colspan="6"><strong>TOTAL CASES RELEASED: </strong><%= @total_cases %></td>
  </tr>
  </table>
  <table style="width: 100%; margin-top: 10px;">
  <tr>
    <td><strong>INTEGRITY OF THE CASES: </strong> </td>
    <td>GOOD</td>
    <td>BAD</td>
  </tr>  
  <tr>
    <td><strong>WAS SAMPLE TAKEN FOR EVERY LOT? </strong></td>
    <td>YES</td>
    <td>NO</td>
  </tr>
  <tr>  
    <td><strong>WAS THE LABEL REVIEW COMPLETED? </strong></td>
    <td>YES</td>
    <td>NO</td>
  </tr>  
  <tr>
    <td colspan="3"><strong>SPECIAL INSTRUCTIONS: </strong></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  </table>

  <table style="width: 30%; margin-top: 10px; border-collapse: collapse;">
  <colgroup>
    <col style="width: 20%;"> 
    <col style="width: 80%;"> 
  </colgroup>
  <tr>
    <td style="white-space: nowrap;"><strong>Trailer #: </strong></td>
    <td>&nbsp;</td>    
  </tr>
  <tr>
    <td style="white-space: nowrap;"><strong>Seal #: </strong></td>
    <td>&nbsp;</td>
  </tr>
  </table>

  <table style="width: 50%; margin-top: 10px; border-collapse: collapse;">
  <colgroup>
    <col style="width: 20%;"> 
    <col style="width: 80%;"> 
  </colgroup>
  <tr>
    <td style="white-space: nowrap;"><strong>Loaded By: </strong></td>
    <td>&nbsp;</td>  
  </tr>
  <tr>
  <td style="white-space: nowrap;"><strong>Revised By: </strong></td>
  <td>&nbsp;</td>  
  </table>
  <h4>** Please make sure all information is filled out correctly and legible. No pencil or liquid paper please.</h4>

</body>
</html>
