<turbo-frame id="produce_part_modal">
<style>
.makeBold {
  font-weight: bold;
}

.custom-ph-action {
  border: 0px;
  border-radius: 6px;
}

.space {
    padding: 10px 5px 10px 5px;
  }

.rowspace {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}

</style>
<div class="modal fade" id="produceModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog" style="width: 80% !important;">
    <div class="modal-content" style="background-color: #fff;">
      <div class="modal-header">
        <h5 class="modal-title">Receipt Details ID: <%= @id %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for :selected_receipts, url: produce_product_path, method: :post, data: { turbo: false } do |f| %>
          <%= hidden_field_tag :current_recipientValue, @current_recipientValue %>
          <%= hidden_field_tag :fromid, @id %>
          <%= hidden_field_tag :from, @from %>
          <div class="alert">   
            <div class="row justify-content-center" style="text-align: center;">
                <div class="table-responsive resptbl-class">
                  <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
                      <thead>
                        <tr>
                          <th class="space">SPC</th>
                          <th class="space">From ID</th>
                          <th class="space">Codigo</th>
                          <th class="space">Pallet</th>
                          <th class="space">Lot</th>
                          <th class="space">LBO</th>
                          <th class="space">Freezer#</th>
                          <th class="space">Rack#</th>
                          <th class="space">Side</th>
                          <th class="space">Location</th>
                          <th class="space">Quantity</th>
                          <th class="space">Remaining Quantity</th>
                          <th class="space">UOM</th>
                        </tr>
                      </thead>
                      <tbody id="myTable">
                        <tr>
                          <td class="rowspace"><%= @receiptArchiveDetails.spc %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.receipt_id %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.codigo %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.pallet %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.lot %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.lbo %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.freezernum %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.racknum %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.side %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.location %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.quantity %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.quantity_remaining %></td>
                          <td class="rowspace"><%= @receiptArchiveDetails.uom %></td>
                        </tr>
                        <tr>
                          <td class="justify-content-center pad-tr" colspan="9" style="text-align:center; font-size: 18px;">Produced Production</td>
                        </tr>
                        <tr>
                          <td class="rowspace"><%= f.text_field :spc, value: @receiptArchiveDetails.spc, class: 'form-control', id: 'spc' %></td>
                          <td class="rowspace"></td>
                          <td class="rowspace"><%= select_tag :codigo, options_for_select([@receiptArchiveDetails.codigo || 'Select codigo'] + @codigo.collect {|p| [p.sku]}),{ autofocus: true, class: " form-control mb-3", id: "codigo", required: true}%></td>
                          <td class="rowspace"><%= f.text_field :pallet, value: @receiptArchiveDetails.pallet, class: 'form-control', id: 'pallet' %></td>
                          <td class="rowspace"><%= f.text_field :lot, value: @receiptArchiveDetails.lot, class: 'form-control', id: 'lot' %></td>
                          <td class="rowspace"><%= f.text_field :lbo, value: @receiptArchiveDetails.lbo, class: 'form-control', id: 'lbo' %></td>
                          <td class="rowspace"><%= f.text_field :freezernum, value: @receiptArchiveDetails.freezernum, class: 'form-control', id: 'freezernum' %></td>
                          <td class="rowspace"><%= f.text_field :racknum, value: @receiptArchiveDetails.racknum, class: 'form-control', id: 'racknum' %></td>
                          <td class="rowspace"><%= f.text_field :side, value: @receiptArchiveDetails.side, class: 'form-control', id: 'side' %></td>
                          <td class="rowspace"><%= f.text_field :location, value: @receiptArchiveDetails.location, class: 'form-control', id: 'location' %></td>
                          <td class="rowspace"></td>
                          <td class="rowspace"><%= f.text_field :quantity, value: @receiptArchiveDetails.quantity_remaining, class: 'form-control', id: 'quantity_remaining' %></td>
                          <td class="rowspacw"><%= f.select :uom, options_for_select(['Select UOM', 'CAS30', 'CAS10', 'CAS05', 'LBS'], @receiptArchiveDetails.uom), { autofocus: true}, { class: "form-control mb-3", id: "uom", required: true } %></td>
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
  
          </div>    
          <%= f.submit 'Record Production', class: 'btn btn-primary btn-sm', style: 'width: auto; float:right;' %>  
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
<br>
<br>
<script>

document.addEventListener("turbo:frame-load", function () {
  $('#codigo').select2({
    tags: true, 
    placeholder: '<%= @receiptArchiveDetails.codigo || "Select codigo" %>',
    width: 'resolve',
    dropdownParent: $('#myModal')
  });
});

  document.addEventListener("turbo:frame-load", function(event) {
    console.log("Frame loaded: " + event.target.id);
    if (event.target.id === "produce_part_modal") {
      var modalElement = document.getElementById("produceModal");
      if (modalElement) {
        var modal = new bootstrap.Modal(modalElement);
        modal.show();
      }
    }
  });


</script>
</turbo-frame>
