<style>
.makeBold {
  font-weight: bold;
}

.custom-ph-action {
  border: 0px;
  border-radius: 6px;
}

.custom-select {
  width: 100% !important;
  height: 34px !important;
  border-radius: 6px !important;
  border: 0px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  background-color: #f3f4f0 !important;
  color: #555 !important;
}

.custom-select:focus {
  outline: none; 
}

</style>

<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog" >
    <div class="modal-content" style="background-color: #fff;">
      <div class="modal-header">
        <h5 class="modal-title">Select Criteria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for :select_criteria, url: select_criteria_path, method: :post do |f| %>
          <%= hidden_field_tag :current_recipientValue, @current_recipientValue %>
          <%= hidden_field_tag :from, @from %>

          <div class="alert" style="border-bottom: 2px solid #000000; border-radius: 0px;">   

            <div class="row justify-content-center" style="text-align: center;">
              <div class="col-6">
                <div class="input-group" style="padding-top: 20px">
                  <%= f.label :criteriaSpc, "Select SPC" %>
                  <%= f.select :criteriaSpc, options_for_select(@availableSPC.collect {|p| [p]}, selected: nil), {}, {class: 'custom-select', id: "spc-select-dropdown", required: true } %>

                  <%#= f.text_field :criteriaSpc, class: "form-control form-control-sm custom-ph-action", placeholder: "Enter SPC..." %>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group" style="padding-top: 20px">
                  <%= f.label :criteriaClientPO, "Select Client PO" %>
                  <%= f.select :criteriaClientPO, options_for_select(@availableClientpo.collect {|p| [p]}, selected: nil), {}, { class: 'custom-select', id: "clientpo-input", required: true } %>

                  <%#= f.text_field :criteriaClientPO, class: "form-control form-control-sm custom-ph-action", value: (params[:from] == 'SHIP' ? params[:clientpoORprodid] : nil), placeholder: "Enter Client PO...", id: "clientpo-input" %>
                </div>
              </div>
            </div>

            <div class="row justify-content-center" style="text-align: center;">
              <div class="col-4">
                <div class="input-group" style="padding-top: 20px">
                  <%= f.label :criteriaLbo, "Select LBO" %>
                  <%= f.select :criteriaLbo, options_for_select(@availableLBO.collect {|p| [p]}, selected: nil), {}, { class: 'custom-select', id: "lbo-select-dropdown", required: true } %>

                  <%#= f.text_field :criteriaLbo, class: "form-control form-control-sm custom-ph-action", placeholder: "Enter LBO..." %>
                </div>
              </div>
              <div class="col-4">
                <div class="input-group" style="padding-top: 20px">
                  <%= f.label :criteriaPallet, "Select Pallet" %>
                  <%= f.select :criteriaPallet, options_for_select(@availablePallet.collect {|p| [p]}, selected: nil), {}, { class: 'custom-select', id: "pallet-select-dropdown", required: true } %>

                  <%#= f.text_field :criteriaPallet, class: "form-control form-control-sm custom-ph-action", placeholder: "Enter Pallet..." %>
                </div>
              </div>
              <div class="col-4">
                <div class="input-group" style="padding-top: 20px">
                  <%= f.label :criteriaSku, "Select SKU" %>
                  <%= f.select :criteriaSku, options_for_select(@availableSKU.collect {|p| [p]}, selected: nil), {}, { class: 'custom-select', id: "sku-select-dropdown", required: true } %>

                  <%#= f.text_field :criteriaSku, class: "form-control form-control-sm custom-ph-action", placeholder: "Enter SKU..." %>
                </div>
              </div>
            </div>
  
          </div>    
          <div class="row justify-content-center" style="text-align: center;">
            <div class="col-8">
              <p class="text-muted" style="font-style: italic;float:left;">Selects only archived product with remaining quantity</p>
            </div>
            <div class="col-4">
              <%= f.submit 'Submit', class: 'btn btn-primary btn-sm', style: 'width: 100px; float:right;' %>  
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  sessionStorage.removeItem("selectedReceipts");
  sessionStorage.removeItem("selectedReceiptsIds");

  $("#clientpo-input").on("click keyup", function () {
    restrictSpcAndClientpoSubmission('clientpo')
  })
  
  $("#spc-select-dropdown").on("click keyup", function () {
    restrictSpcAndClientpoSubmission('spc')
  })


  function restrictSpcAndClientpoSubmission(x) {
    if (x == 'clientpo') {
      if ($("#clientpo-input").val() != '') {
        $("#spc-select-dropdown").val("Select SPC...");
      }
      $("#clientpo-input").val()
    } else {
      if ($("#spc-select-dropdown").val() != 'Select SPC...') {
        $("#clientpo-input").val('Select Client PO...')
      }
    }
  }

})

$(document).ready(function() {
  $('#spc-select-dropdown').select2({
    placeholder: "Select SPC...",
    allowClear: true,
    dropdownParent: $('#myModal')
  });
});

$(document).ready(function() {
  $('#clientpo-input').select2({
    placeholder: "Select Client PO...",
    allowClear: true,
    dropdownParent: $('#myModal')
  });
});

$(document).ready(function() {
  $('#lbo-select-dropdown').select2({
    placeholder: "Select LBO...",
    allowClear: true,
    dropdownParent: $('#myModal')
  });
});

$(document).ready(function() {
  $('#pallet-select-dropdown').select2({
    placeholder: "Select Pallet...",
    allowClear: true,
    dropdownParent: $('#myModal')
  });
});

$(document).ready(function() {
  $('#sku-select-dropdown').select2({
    placeholder: "Select SKU...",
    allowClear: true,
    dropdownParent: $('#myModal')
  });
});

</script>