<style>
  .accordion {
    padding-top: 50px;
  }


  .accordionDiv {
    display: flex;
    justify-content: center;
  }

  label {
    font-weight: 600;
  }

  .cases-summary h3 {
    margin: 5px 0; 
  }


</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Add a click event listener to the elements
    var elements = document.querySelectorAll('.arrowcontrol');
    elements.forEach(function (element) {
      element.addEventListener('click', function () {
        // Toggle the visibility of arrow icons
        var upArrow = element.querySelector('.fa-chevron-up');
        var downArrow = element.querySelector('.fa-chevron-down');
        upArrow.style.display = upArrow.style.display === 'none' ? 'inline-block' : 'none';
        downArrow.style.display = downArrow.style.display === 'none' ? 'inline-block' : 'none';
      });
    });
  });
</script>

<div class="accordionDiv">
<div class="accordion" id="accordionExample" style="width: 90vw;">
  <div class="accordion-item">
    <h2 class="accordion-header">
      Shipments Details 
    </h2>
      <div class="accordion-body">
        <% if @shipmentdetails.any? %>
          <div class="table-responsive resptbl-class">
            <div class="cases-summary">
              <h3>Expected Cases for <%= params[:clientpo] %>: <%= @expected_cases %></h3>
              <h3>Total Cases for <%= params[:clientpo] %>: <%= @total_cases %></h3>
            </div>
            <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
                <thead>
                  <tr>
                    <th>Client PO</th>
                    <th>SPC</th>
                    <th>Line Number</th>
                    <th>Codigo</th>
                    <th>Pallet</th>
                    <th>Lot</th>
                    <th>LBO</th>
                    <th>Quantity</th>
                    <th>Country of Origin</th>
                    <th>Case Type</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% @shipmentdetails.each do |f| %>
                    <tr>
                      <td><%= f.clientpo %></td>
                      <td><%= f.spc %></td>
                      <td><%= f.lineno %></td>
                      <td><%= f.codigo %></td>
                      <td><%= f.pallet %></td>
                      <td><%= f.lot %></td>
                      <td><%= f.lbo %></td>
                      <td><%= f.quantity %></td>
                      <td><%= f.coo %></td>
                      <td><%= f.uom %></td> 
                    </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
          <div class="ftz_pagination">

            <%= will_paginate @shipmentdetails, :previous_label => 'prev', :next_label => 'next', param_name: 'copy_shipments_details_page' %>

          </div>
      <% else %>
        <span style="font-style:italic;">No recorded shipments yet</span>
        <br>
      <% end %>
      </div>
    </div>
  </div>