<style>
  .accordion1 {
    padding-top: 50px;
  }


  .accordionDiv {
    display: flex;
    justify-content: center;
  }

  label {
    font-weight: 600;
  }

  .cases-summary h3 {
    margin: 5px 0; 
  }

  .form-check-input {
    transform: scale(1.2); 
    margin: 0 auto; 
    cursor: pointer; 
    border-color: #6a9535;
  }
  
  .form-check-input:checked {
    background-color: #c7d785;
    border-color: black;
  }

th, td {
  text-align: center;
}

.btn-success {
  background-color: #6a9535;
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-weight: bold; 
}

.btn-custom {
  background-color: #c7d785; 
  color: #333; 
  font-weight: bold; 
  padding: 5px 10px;
}

.ship-header {
  padding-right: 10px;
}

.btn-custom:hover {
  background-color: #b5c374;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); 
  color: #000; 
}

.cases-summary h3 {
    margin: 2px 0; 
  }

.text-center {
  text-align: center;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.linkHeading {
  margin-top: 0px !important;
  margin: 0px !important;
  font-size: 28px;
}


</style>


    <% if @procMessage.present? %>
      <div class="accordionDiv">
        <div class="accordion" id="accordionExample" style="width: 50vw; text-align: center;">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= @procMessage %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <% end %>

    <div class="accordionDiv">
    <div class="accordion" id="accordionExample" style="width: 90vw;">
      <div class="accordion-item" style="border-radius: 10px; overflow: hidden;">

      <div class="row" style="background-color: #fff; padding: 10px; text-align: center;">
        <div class="col" style="margin-bottom: -14px;">
          <h2 style="font-size: 24px; text-align: center;">Link Selected Receipt Details</h2>
        </div>
      </div>
      <div class="row" style="background-color: #fff; margin: 0; text-align: center;">
        <div class="col">
          <% if @from == 'SHIP' %>
            <h3 style="font-size: 16px; display: inline-block; margin-bottom: -5px;">
              Client PO#: <%= @current_recipientValue %> 
              <span style="margin: 0 10px;">|</span> 
              Quantity to Link: <span id="qty-linked">0</span>
            </h3>
          <% else %>
            <h3 style="font-size: 16px;">Production Identifier: <%= @current_recipientValue %></h3>
          <% end %>
        </div>
      </div>

        <div class="accordion-body" style="background-color: #ffffff;">
          <% if @receiptdetails.any? %>
            <div class="table-responsive resptbl-class">
            <%= form_with url: process_selected_receipts_path, method: :post, local: true do %>
            <%= hidden_field_tag :current_recipientValue, @current_recipientValue %>
            <%= hidden_field_tag :from, @from %>
            <input type="hidden" name="selected_receipts[]" id="selected_receipts_input">
            <%= hidden_field_tag 'selected_receipts_data', '', id: 'selected_receipts_data' %>

              <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
                <thead>
                  <tr>
                    <th>SPC</th>
                    <th>Production</th>
                    <th>Codigo</th>
                    <th>Pallet</th>
                    <th>Lot</th>
                    <th>LBO</th>
                    <th>Freezer#</th>
                    <th>Rack#</th>
                    <th>Side</th>
                    <th>Location</th>
                    <th>Case Type</th>
                    <th>Client PO</th>
                    <th>Client</th>
                    <th>Remaining Qty</th>
                    <% if @from == 'SHIP' %>
                      <th>Custom Qty</th>
                    <% end %>
                    <th class="text-center">
                      <% if @from == 'SHIP' %>
                        <input type="checkbox" id="select_all" class="form-check-input">
                      <% else %>
                        Assign
                      <% end %>
                    </th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% @receiptdetails.each do |f| %>
                    <tr>
                      <td><%= f.spc %></td>
                      <td><%= f.production_identifier %></td>
                      <td><%= f.codigo %></td>
                      <td><%= f.pallet %></td>
                      <td><%= f.lot %></td>
                      <td><%= f.lbo %></td>
                      <td><%= f.freezernum %></td>
                      <td><%= f.racknum %></td>
                      <td><%= f.side %></td>
                      <td><%= f.location %></td>
                      <td><%= f.uom %></td> 
                      <td><%= f.clientpo %></td>
                      <td><%= f.client %></td>
                      <td class="qty"><%= f.quantity_remaining %></td>
                      <% if @from == 'SHIP' %>
                        <td class="justify-content-center" style="display: flex;"><%= text_field_tag "custom_quantity_#{f.id}", f.quantity_remaining, class: 'form-control form-control-sm custom-quantity_input custom-qty', style: 'width: 100px; text-align:center;', disabled: true %></td>
                      <% end %>
                      <td class="text-center">
                        <% if @from == 'SHIP' %>
                          <%= check_box_tag 'selected_receipts[]', f.id, false, class: "form-check-input receipt-checkbox", id: "receipt_#{f.id}" %>
                        <% else %>
                          <%= link_to 'Create Production', produce_product_path(id: f.id, from: @from, current_recipientValue: @current_recipientValue), data: { turbo_frame: "produce_part_modal" }, class: "btn btn-light btn-sm btn-search" %>
                        <% end %>
                      </td>                  
                    </tr>
                  <% end %>
                </tbody>
            </table>
                <div class="text-center mt-3" style="float:right;">
                  <% if @from == 'SHIP' %>
                    <%= button_tag 'Select Product', type: 'submit', class: "btn btn-light btn-sm btn-search" %>
                  <% else %>
                    <%= link_to 'Done', productions_details_path(production_identifier: @current_recipientValue), class: "btn btn-light btn-sm btn-search" %>
                  <% end %>
                </div>
            <% end %>    
            </div>
            <% if @amtOfReceipt >= 30 %>
              <div class="ftz_pagination">
                <%= will_paginate @receiptdetails, :previous_label => 'prev', :next_label => 'next', param_name: 'select_shipments_details_page', params: { from: @from, current_recipientValue: @current_recipientValue, selected_receipts: params[:selected_receipts] } %>
              </div>
            <% end %>
          <% else %>
            <span style="font-style:italic;">No archived receipts/productions or no quantity remaining for selection</span>
            <br>
          <% end %>
        </div>
      </div>
  </div>

<script>
  applyPreviousSelections();


  function applyPreviousSelections() {
    var selectedReceipts = JSON.parse(sessionStorage.getItem("selectedReceipts")) || [];
    var myObject = JSON.parse(sessionStorage.getItem("selectedReceiptsIds")) || {};

    if (selectedReceipts) {
        selectedReceipts.forEach(id => {
            let checkbox = document.getElementById(`receipt_${id}`);
            if (checkbox) {
              checkbox.checked = true;
              document.getElementById(`custom_quantity_${checkbox.value}`).disabled = false;
              if (myObject[`${id}`]) {
                document.getElementById(`custom_quantity_${id}`).value = myObject[`${id}`];
              }
            }
        });
    }
    checkSelectAll()
    calculateQty()
  }


  $('#select_all').on('change', function() {
    var isChecked = $(this).is(':checked');
    $('.receipt-checkbox').prop('checked', isChecked);
    updateArray()
  });

  
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".receipt-checkbox").forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        if (this.checked) {
          updateArray(this.value)
          checkSelectAll()
        } else {
          updateArray(this.value)
          checkSelectAll()
        } 
      });
    });
  });


  function checkSelectAll() {
    var checkboxes = document.querySelectorAll('.receipt-checkbox'); 
    var allChecked = true;
  
    checkboxes.forEach(function(checkbox) {
      if (!checkbox.checked) {
        allChecked = false;
      }
    });
  
    $('#select_all').prop('checked', allChecked);
  }


  function updateArray() {
    var selectedReceipts = JSON.parse(sessionStorage.getItem("selectedReceipts")) || [];
    var myObject = JSON.parse(sessionStorage.getItem("selectedReceiptsIds")) || {};

    var checkboxes = document.querySelectorAll('.receipt-checkbox');
    var qtyLinked = parseInt($('#qty-linked').text().trim()) || 0;
    //console.log(JSON.stringify("start: " + selectedReceipts));
    //console.log("here-a: " + myObject);

    checkboxes.forEach(function(checkbox) {
      let row = checkbox.closest('tr');
      let qtyElement = row.querySelector('.qty');
      let qty = parseInt(qtyElement.innerText) || 0;

      if (checkbox.checked && !selectedReceipts.includes(checkbox.value)) {
        selectedReceipts.push(checkbox.value);
        let newKey = checkbox.value;
        myObject[newKey] = document.getElementById(`custom_quantity_${checkbox.value}`).value;
        //console.log("here: " + myObject[newKey]);

        //qtyLinked += qty;
        document.getElementById(`custom_quantity_${checkbox.value}`).disabled = false;
      } else if (!checkbox.checked && selectedReceipts.includes(checkbox.value)) {
        selectedReceipts = selectedReceipts.filter(function(item) {
          return item !== checkbox.value;
        });

        if (myObject[`${checkbox.value}`]) {
          delete myObject[`${checkbox.value}`];
         // console.log("here2");
        }

        //qtyLinked -= qty;
        document.getElementById(`custom_quantity_${checkbox.value}`).disabled = true;
      }

      sessionStorage.setItem("selectedReceiptsIds", JSON.stringify(myObject));
      calculateQty();
      //document.getElementById('qty-linked').innerText = qtyLinked;
    });

    document.getElementById('selected_receipts_input').value = selectedReceipts;
    //document.getElementById('selected_receipts_value').value = myObject;
    //console.log(JSON.stringify("end: " + selectedReceipts));
    //console.log("input: " + document.getElementById('selected_receipts_input').value);
    sessionStorage.setItem("selectedReceipts", JSON.stringify(selectedReceipts));
  }


  document.querySelectorAll(".pagination a").forEach(link => {
    link.addEventListener("click", function(event) {
      var selectedReceipts = JSON.parse(sessionStorage.getItem("selectedReceipts")) || [];

      event.preventDefault();
      let url = new URL(this.href);
      url.searchParams.delete("selected_receipts[]");

      [...selectedReceipts].forEach(id => {
        url.searchParams.append("selected_receipts[]", id);
      });

      window.location.href = url.toString();
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".custom-quantity_input").forEach(function (input) {
      input.addEventListener("input", function (event) {
        //var selectedReceipts = JSON.parse(sessionStorage.getItem("selectedReceipts")) || [];
        var myObject = JSON.parse(sessionStorage.getItem("selectedReceiptsIds")) || {};
        
        let enteredValue = event.target.value.replace(/[^0-9]/g, ''); 
        let maxQty = parseInt(event.target.closest('tr').querySelector('.qty').innerText) || 0;

        if (enteredValue === '') {
            event.target.value = 0;
            return;
        }

        let numericValue = parseInt(enteredValue, 10);
        if (numericValue > maxQty) {
            event.target.value = maxQty; 
        } else {
            event.target.value = numericValue; 
            let id = event.target.id.match(/\d+$/)[0];
           // console.log("id: " + id)
            if (myObject[`${id}`]) {
              //console.log("first: " + myObject[`${id}`])
              myObject[`${id}`] = document.getElementById(`${event.target.id}`).value;
            } else {
              //console.log(event.target.id)
              let newKey = id;
              myObject[newKey] = document.getElementById(`${event.target.id}`).value;
              console.log("second: " + myObject[newKey])
            }
            console.log(myObject)
            sessionStorage.setItem("selectedReceiptsIds", JSON.stringify(myObject));
            calculateQty();

            //let customValue = document.getElementById(`${event.target.id}`).value;
            //document.getElementById('qty-linked').innerText = numericValue;
        }
      });
    });
  });


  function calculateQty() {
    //console.log("calculating")
    var myObject = JSON.parse(sessionStorage.getItem("selectedReceiptsIds")) || {};
    var qtyLinked = 0;

    Object.keys(myObject).forEach(key => {
      //console.log(key)
      //console.log(parseInt(myObject[key]))
      //let quantityId = document.getElementById(`custom_quantity_${key}`);
      let qty = parseInt(myObject[key]) || 0;
      qtyLinked += qty;
    });
   //console.log(qtyLinked)
    //console.log(document.getElementById('qty-linked').innerText)
    document.getElementById('qty-linked').innerText = qtyLinked;
  }


  document.querySelector("form[action='/process_selected_receipts']").addEventListener("submit", function () {
    var myObject = JSON.parse(sessionStorage.getItem("selectedReceiptsIds")) || {};
    document.getElementById("selected_receipts_data").value = JSON.stringify(myObject);
  });

</script>


 