<div class="warehousereceiptdetailsuniqueidentifier content-squish-screens" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">
<h1 style="font-size: 30px; padding-bottom: 30px;">Update Shipment</h1>

  <%= form_with model: @updateshipments, url: update_shipments_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :clientpo, value: @updateshipments.clientpo %>
    <div class="row justify-content-center" style="text-align: center;">

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :clientpo, "Client PO" %>
          <%= f.text_field :clientpo, class: 'form-control', id: 'clientpo', readonly: true %><br>
          <p id='select-clientpo-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required<p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
         <%= f.label :releasedate, "Release Date *" %>
         <%= f.date_field :releasedate, class: 'form-control', id: 'releasedate' %><br>
         <p id='select-releasedate-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>


      <div class="col-3">
        <div class="form-group">
        <%= f.label :client, "Client", class: "position" %>
        <%= select_tag :client, options_for_select([@update_shipments_params[:client] || 'Select Client'] + ['Unknown Client'] + @client.collect {|p| [p.client]}),{ autofocus: true, class: " form-control mb-3", id: "client_select_dropdown"}%><br>
        </div>
      </div>


      <div class="col-3">
        <div class="form-group">
          <%= f.label :cartons30lb, "Cartons 30LB " %>
          <%= f.number_field :cartons30lb, class: 'form-control', id: 'cartons30lb' %><br>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <%= f.label :cartons10lb, "Cartons 10LB " %>
          <%= f.number_field :cartons10lb, class: 'form-control', id: 'cartons10lb' %><br>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :cartons5lb, "Cartons 5LB " %>
          <%= f.number_field :cartons5lb, class: 'form-control', id: 'cartons5lb' %><br>
        </div>
      </div>


      <!-- Add a div for the submit button -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class='position-centerish' style='height:50px;'>
            <%= link_to 'Back', warehouse_withdrawals_path, class: "btn btn-light btn-sm btn-search", style: "width:25%; margin-right: 50px !important;" %>
            <%= f.submit 'Update Shipment', class: 'btn btn-sm btn-primary', style: "width:25%;" %>
          </div>
        </div>
      </div>

  <% end %>

</div>
<!-- END CARD BODY -->


</div>
<br>
<br>
<script>

  document.addEventListener("turbo:load", function () {
    const currentDate = new Date();
    const oneWeekAgo = new Date(currentDate);
    oneWeekAgo.setDate(currentDate.getDate() - 7);  
    const oneWeekLater = new Date(currentDate);
    oneWeekLater.setDate(currentDate.getDate() + 7); 

    const minDate = oneWeekAgo//.toISOString().split('T')[0];
    const maxDate = oneWeekLater//.toISOString().split('T')[0];

    $('#releasedate').attr('min', minDate);
    $('#releasedate').attr('max', maxDate);

    $("#releasedate").on("change", function() {
      var selectedDate = new Date(this.value);
      if (selectedDate < oneWeekAgo || selectedDate > oneWeekLater) {
        $("#select-releasedate-error").text("Please select a date within one week from today.").show();
        this.value = ''; 
      } else {
        $("#select-releasedate-error").hide();
      }
    });
  });


    document.addEventListener("turbo:load", function () {
    
    $("#up-arrow").hide()

    var errors_array = []

    var releasedate = $("#releasedate").val()
    var clientpo = $("#clientpo").val()

    if (releasedate === null || releasedate === undefined || releasedate === '') {
      errors_array.push('releasedate')
    }

    if (clientpo === null || clientpo === undefined || clientpo === '') {
      errors_array.push('clientpo');
    }



    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)


    $("#releasedate").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-releasedate-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'releasedate');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        if (errors_array.includes('releasedate')) {
          checkError(errors_array)
        } else {
          errors_array.push('releasedate')
          checkError(errors_array)
        }
      }
    })


    $("#clientpo").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-clientpo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'clientpo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('clientpo')
        checkError(errors_array)
      }
    })


    function checkError(errors_array) {
      //console.log(errors_array)
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-releasedate-error").hide();
        $("#select-clientpo-error").hide();
        $('.warehousewithdrawalsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
        
      } else {
        $('.warehousewithdrawalsuniqueidentifier').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "releasedate":
              $("#select-releasedate-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "clientpo":
              $("#select-clientpo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
          }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.warehousewithdrawalsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
    }

    
  });
</script>
