<style>
.border-settings {
  border-bottom: 1.5px solid black;
}

.position {
  float: left;
}

  .accordion {
    padding-top: 50px;
  }


  .accordionDiv {
    display: flex;
    justify-content: center;
  }

  label {
    font-weight: 600;
  }


</style>


<div class="myclient content-squish-screens" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">

  <h1 style="font-size: 28px; !important;">Add New Client</h1>

  <%= form_for warehouse_clients_path do |f| %>
    <div class="row justify-content-center" style="text-align: center; padding-top: 20px;">
      
      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :client, "Client *", class: "position" %>
          <%= f.text_field :client, value: @client_params.try(:dig, "client"), class: 'form-control', id: 'client' %>
          <p id='select-client-error' style='float:left; display:none; font-size: 13px; margin-top: 5px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :country_of_origin, "Country Of Origin", class: "position" %>
          <%= f.select :country_of_origin, [['US', 'US'], ['MX', 'MX']], { include_blank: true, selected: @client_params.try(:dig, "country_of_origin") }, class: 'form-control', id: 'country_of_origin' %><br>
        </div>
      </div>


    <!-- Add a div for the submit button -->
    <div class="row justify-content-center" style="text-align: center;">
      <div class="col-md-12 text-center">
        <div class='position-centerish' style='height:30px;'>
          <%= f.submit 'Record New Client', class: 'btn btn-sm btn-primary', style: "width:50%;" %>
        </div>
      </div>
    </div>
    </div>
  <% end %>

</div>
<script>



  $(document).ready(function() {
    
    $("#up-arrow").hide()

    var errors_array = []

    var client = $("#client").val()

    if (client === null || client === undefined || client === '') {
      errors_array.push('client')
    }


    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)


    $("#client").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-client-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'client');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        if (errors_array.includes('client')) {
          checkError(errors_array)
        } else {
          errors_array.push('client')
          checkError(errors_array)
        }
      }
    })

    function checkError(errors_array) {
      //console.log(errors_array)
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-client-error").hide();
        $('.myclient').removeClass('progress-border-bad').addClass('progress-border-good');
        
      } else {
        $('.myclient').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "client":
              $("#select-client-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.myclient').removeClass('progress-border-bad').addClass('progress-border-good');
    }

    
  });
</script>