<!--<p style="font-style:italic">Dashboard</p>-->
<style>
  .dashboard-custom-size-id {
    justify-content: center;
  }
</style>

     
<% if @useraccess_ifpending.present? %>
<div class="container">
<div class="row justify-content-center">
  <% @form300referencedata.each_with_index do |f, i| %>
     <%= hidden_field_tag "firmscodeCount", @firmscodeCount %>
    
  <div class="dashboard-custom-size-id col-md text-center d-flex dashboard-custom-size" style="padding:20px;">
    <div class="">
      <div class="card" style="width: 33rem; background-color: #ffffff">
        <div class="card-body">
          <h5 class="card-title"><%= f.facilityname || 'MISSING' %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%#= Warehousesetup.where(firmscode: f.firmscode).pluck(:warehousename).first || 'MISSING' %><%= f.city || 'MISSING' %> - <%= f.firmscode || 'MISSING' %></h6>
          <hr>
          <p class="card-text">
              <div class="row">
                <div class="col-sm">
                  <span style="font-weight:600;">Address:</span><br>
                  <%= f.streetaddress || 'MISSING' %><br>
                  <%= f.city || 'MISSING' %>,
                  <%= f.state || 'MISSING' %>
                  <%= f.zipcode || 'MISSING' %>
                </div>
                <div class="col-sm">
                  <span style="font-weight:600;">Contact: </span><span style="font-style:italic;"><%= f.signatorytitle || 'MISSING' %></span><br>
                  <%= f.contactpersonlastname || 'LN' %>,
                  <%= f.contactpersonfirstname || 'FN' %>,
                  <%= f.contactpersonmiddleinitial || '' %><br>
                  <%= f.telephonenumber || 'MISSING' %>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-sm">
                  <span style="font-weight:600;">IRS Identification Number:</span><br>
                  <%= f.irsidentificationnumber || 'MISSING' %>
                </div>
                <div class="col-sm">
                  <span style="font-weight:600;">Firms Code:</span><br>
                  <%= f.firmscode || 'MISSING' %>
                </div>
              </div>
              <!--
              <br><br>
              <div class="row">
                <div class="col-sm">
                  <span style="font-weight:600;">IRS Identification Number:</span><br>Carteret/Harvey
                  <%#= @form300referencedata.pluck(:irsidentificationnumber).first || 'MISSING' %>part numbers
                </div>
                <div class="col-sm">
                  <span style="font-weight:600;">Firms Code:</span><br>
                  <%#= @form300referencedata.pluck(:firmscode).first || 'MISSING' %>part numbers
                </div>
              </div>
              -->
          </p>
          <br><br>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>

  <% end %>
  </div>
</div>

<% else %>
  <div class="alert alert-dark content-squish-screens" style="text-align: center;" role="alert">
    Account Setup Pending
  </div>
<% end %>


<script>
  window.addEventListener('resize', dashboardLayoutControl);

  function dashboardLayoutControl() {
    var firmscodeCount = $('#firmscodeCount').val()
    if (firmscodeCount > 1) {
      var elements = document.getElementsByClassName('dashboard-custom-size-id');  
      for (var i = 0; i < elements.length; i++) {
        elements[i].classList.remove('dashboard-custom-size');
        elements[i].classList.remove('d-flex');
      }
    } else {
      checkScreenWidth();
    }
  }

    function checkScreenWidth() {
      var elements = document.getElementsByClassName('dashboard-custom-size-id');
      var screenWidth = window.innerWidth;

      if (screenWidth < 1190) { 
        for (var i = 0; i < elements.length; i++) {
          elements[i].classList.remove('dashboard-custom-size');
          elements[i].classList.remove('d-flex');
        }
      }

      if (screenWidth >= 1190) { 
        for (var i = 0; i < elements.length; i++) {
          if (!elements[i].classList.contains('dashboard-custom-size')) {  
            elements[i].classList.add('dashboard-custom-size');
            elements[i].classList.add('d-flex');
          }
        }
      }
    }


        
    </script>
