<div class="" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">
  <h1>Warehouse Withdrawals</h1>

  <%= form_for warehouse_withdrawals_path do |f| %>
  <div class="row justify-content-center" style="text-align: center; margin-bottom:10px;">
    <div class="col-4">
      <div class="form-group">
        <%= label_tag :warehouse, "Warehouse" %>
        <%= text_field_tag :warehouse, Selectedwarehouse.pluck(:warehouse), class: 'form-control', readonly: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :salesdate, "Ship Date *" %>
        <%= f.datetime_local_field :salesdate, value: @withdrawal_params.try(:dig, "salesdate").presence || Time.current.beginning_of_day.strftime("%m/%d/%Y, 00:00"), class: 'form-control', id: 'shipdate' %><br>
        <p id='select-shipdate-error' style='float:left; display:none; font-size: 13px; margin-top: -10px !important;'>Select Ship Date</p>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :outboundreferencenumber, "Customer Order Number *" %>
        <%= f.text_field :outboundreferencenumber, value: @withdrawal_params.try(:dig, "outboundreferencenumber"), class: 'form-control', id: 'customer_order' %><br>
        <p id='select-customerorder-error' style='float:left; display:none; font-size: 13px; margin-top: -10px !important;'>Customer Order Number cannot be blank</p>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :salesreferencenumber, "KM Order Number *" %>
        <%= f.text_field :salesreferencenumber, value: @withdrawal_params.try(:dig, "salesreferencenumber"), class: 'form-control', id: 'km_order' %><br>
        <p id='select-kmorder-error' style='float:left; display:none; font-size: 13px; margin-top: -10px !important;'>KM Order Number cannot be blank</p>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :container, "Container *" %>
        <%= f.text_field :container, value: @withdrawal_params.try(:dig, "container"), class: 'form-control', id: 'container' %><br>
        <p id='select-container-error' style='float:left; display:none; font-size: 13px; margin-top: -10px !important;'>Container cannot be blank</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= label_tag :itemnumber, "Product *" %>
        <%= select_tag :itemnumber, options_for_select([@withdrawal_params.try(:dig, "itemnumber") || 'Select a Product'] + @part_numbers.collect {|p| [p.partnumber]}),{ autofocus: true, class: " form-control mb-3", id: "part_select_dropdown-withdrawal", required: true}%><br>
        <p id='select-product-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>Select a Product</p>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :uom, "UOM" %>
        <%= f.text_field :uom, value: @withdrawal_params.try(:dig, "uom"), class: 'form-control', readonly: true, id: 'uom-text-field' %>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :salesquantity, "Outbound LBS *" %>
        <%= f.text_field :salesquantity, value: @withdrawal_params.try(:dig, "salesquantity"), class: 'form-control', id: 'outbound_lbs' %><br>
        <p id='select-outboundlbs-error' style='float:left; display:none; font-size: 13px; margin-top: -10px !important;'>Outbound LBS cannot be blank</p>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :withdrawalentrynumber, "Withdrawal Entry Number *" %>
        <%= f.text_field :withdrawalentrynumber, value: @withdrawal_params.try(:dig, "withdrawalentrynumber"), class: 'form-control', id: 'withdrawal_entry_number' %><br>
        <p id='select-withdrawalentrynumber-error' style='float:left; display:none; font-size: 13px; margin-top: -10px !important;'>Withdrawl Entry Number cannot be blank</p>

        <%= f.hidden_field :generatereports, value: @generate_reports, id: 'generatereports' %>
        <%= f.hidden_field :reportedstatus, value: @reportedstatus, id: 'reportedstatus' %>
      </div>
    </div>
  </div>

  <!-- Add a div for the submit button -->
  <div class="row">
    <div class="col-md-12 text-center">
      <div class='position-centerish' style='height:50px;'>
        <%= f.submit 'Record Withdrawal', id: "brute_force", class: 'btn btn-primary', style: "width:50%;" %>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to 'Testing withdrawal statment'.html_safe, withdrawal_statement_report_path, class: "remove-link-styling", id: "dashboard" %>
         <br>
         <%= link_to 'Testing running balance'.html_safe, running_balance_report_path, class: "remove-link-styling", id: "dashboard" %>
         <br>
         <%= link_to 'Testing depleted not reported'.html_safe, depletednotreportedreceipts_path, remote: true, class: "remove-link-styling", id: "dashboard" %>
  </div>
