<!-- TABLE FOR REPORTED BALANCES -->
<br>
<br>
<% if @withdrawals.any? %>
<div class="card" style="width: auto; background-color: #f4f4f4;">
  <div class="card-body">
    <h5 class="card-title">Warehouse Withdrawls History</h5>
    <hr>
    <div class="table-responsive resptbl-class">
      <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
          <thead>
            <tr>
              <th>Ship Date</th>
              <th>Customer Order Number</th>
              <th>KM Order Number</th>
              <th>Container</th>
              <th>Product</th>
              <th>UOM</th>
              <th>Outbound LBS</th>
              <th>Bill of Lading</th>
              <th>Withdrawl Entry Number<br><span style="font-style: italic;">(Click entry number to rerun reports)</span></th>
            </tr>
          </thead>
          <tbody id="myTable">
            <% @withdrawals.each do |f| %>
              <tr>
                <td><%= f.salesdate.strftime('%Y-%m-%d %H:%M:%S') %></td>
                <td><%= f.outboundreferencenumber %></td>
                <td><%= f.salesreferencenumber %></td>
                <td><%= f.container %></td>
                <td><%= f.itemnumber %></td>
                <td><%= f.uom %></td>
                <td><%= f.salesquantity %></td>
                <td><%= f.billoflading %></td>
                <td><a style="text-decoration: underline; color:#0061e0;"><%= f.withdrawalentrynumber %></a></td>
                <!--<td><%#= f.withdrawalentrynumber %></td>-->
                <!--
                <td>
                  <%#= link_to f.withdrawalentrynumber, recalculate_balance_path(f.salesdate.strftime('%Y-%m-%d %H:%M:%S')), class: "btn btn-light btn-sm btn-search"%>
                </td>
                -->
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
    <div class="ftz_pagination">

      <%= will_paginate @withdrawals, :previous_label => 'prev', :next_label => 'next', param_name: 'withdrawals_page' %>

    </div>

  </div>
</div>
<% else %>
<p>Nothing to see here yet</p>
<% end %>
<br>
<br>
