  <style>
.border-settings {
  border-bottom: 1.5px solid black;
}


.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//transaction_inventory_report_search

</style>
<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row justify-content-center">
 <div class="col" style="">
      <div class="" style="padding: 20px;">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-6" style="width: 245px;">
                <h2 style="font-size: 24px; margin-bottom: 0px; font-weight: bold;">On-Hand Inventory</h2><br>
                <%= search_form_for @inv, as: :inventory_research, url: inventory_screen_path do |f| %>
                <div class="col ml-3 padding-adjust">
                <%= f.label :part_number_cont, "SPC:", class: "fa-icon-adjust" %>
                </div>
                <div class="col">
                <%= f.submit "Search", class:"btn btn-light btn-sm btn-search search-form-submit" %>
                </div>
                <% end %>
              </div>

              <div class="col-6">
                <i class="fas fa-filter llc-button-right mt-2 filter-icon-style" style="float: left; padding-top: 15px;" id="toggle_filter2" title="filter"></i>
            </div>


            </div>
   <div class="table-responsive resptbl-class">

      <div class="custom-filter hide" id='custom-filter-div'>
        <% if params[:inventory_research].present? %>
          <% params[:inventory_research].each do |k, v| %>  
                <div class="applied-filters-row">
                  <div id="<%= k.to_sym %>"><%= k.humanize%> <b><%= v%></b>
                    <i class="fa fa-times remove-filter-icon" id="remove-filter-research_inventory-icon" aria-hidden="true"></i>
                  </div>
                </div>

                <script type="text/javascript">
                  $('.custom-filter').removeClass('hide');
                </script>
          <% end %>
        <% end %>
        <i class="fas fa-plus fa-2x custom-filter-plus-icon plus-filter-icon" ></i>

        <%= render  partial: "filters/search_filter_options", locals: { data_scope: "inventory_research", data_search_form_id: "transaction_inventory_report_search", data_custom_search_form_fields: "custom-filter-research_inventory-field", data_filter_form_id: "custom-filter-sub-research_inventory-div", filter_div_id: "custom-filter-research_inventory-div", sub_filter_div_id: "custom-filter-sub-research_inventory-div", options_details: get_research_inventory_details } %>

      </div>

 

        
        <div class="row justify-content-center" style="text-align: center;">
          <% if @inventory.any? %>
            <div class="table-responsive resptbl-class">
              <table id="inventorytable" class="table table-striped table-sm table-hover display responsive no-wrap">
                  <thead>
                    <tr>
                        <th colspan="1" style="text-align:center;">SPC</th>
                        <th colspan="1" style="text-align:center;">Line No.</th>
                        <th colspan="1" style="text-align:center;">Product Code</th>
                        <th colspan="1" style="text-align:center;">Pallet</th>
                        <th colspan="1" style="text-align:center;">Lot</th>
                        <th colspan="1" style="text-align:center;">LBO</th>
                        <th colspan="1" style="text-align:center;">Quantity Remaining</th>
                        <th colspan="1" style="text-align:center;">UOM</th>
                        <th colspan="1" style="text-align:center;">Production Identifier</th>
                        <th colspan="1" style="text-align:center;">Receipt Type</th>
                        <th colspan="1" style="text-align:center;">Recording Timestamp</th>
                        <th colspan="1" style="text-align:center;">Warehouse</th>
                        <th colspan="1" style="text-align:center;">COO</th>
                        <th colspan="1" style="text-align:center;">Freezer #</th>
                        <th colspan="1" style="text-align:center;">Rack #</th>
                        <th colspan="1" style="text-align:center;">Side</th>
                        <th colspan="1" style="text-align:center;">Location</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">

                    <% @inventory.each do |inv| %>
                    <tr>
                    <td><%= inv.spc %></td>
                    <td><%= inv.lineno %></td>
                    <td><%= inv.codigo %></td>
                    <td><%= inv.pallet %></td>
                    <td><%= inv.lot %></td>
                    <td><%= inv.lbo %></td>
                    <td><%= inv.quantity_remaining %></td>
                    <td><%= inv.uom %></td>
                    <td><%= inv.production_identifier %></td>
                    <td><%= inv.receipt_type %></td>
                    <td><%= inv.recording_timestamp %></td>
                    <td><%= inv.warehouse %></td>
                    <td><%= inv.coo %></td>
                    <td><%= inv.freezernum %></td>
                    <td><%= inv.racknum %></td>
                    <td><%= inv.side %></td>
                    <td><%= inv.location %></td>
                    </tr>
                    <% end %>

                  </tbody>
              </table>
            </div>
            <div class="ftz_pagination">

            <%= will_paginate @inventory, :previous_label => 'Prev', :next_label => 'Next', param_name: 'inventory_page' %>

          </div>
          <% else %>
            <p style="margin-top: 20px; font-size: 16px;">No On-Hand inventory found</p>
          <% end %>
        </div>
      </div>
    </div>
   </div>
  </div>      
  </div>        


