<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Add a click event listener to the elements
    var elements = document.querySelectorAll('.arrowcontrol');
    elements.forEach(function (element) {
      element.addEventListener('click', function () {
        // Toggle the visibility of arrow icons
        var upArrow = element.querySelector('.fa-chevron-up');
        var downArrow = element.querySelector('.fa-chevron-down');
        upArrow.style.display = upArrow.style.display === 'none' ? 'inline-block' : 'none';
        downArrow.style.display = downArrow.style.display === 'none' ? 'inline-block' : 'none';
      });
    });
  });
</script>

<style>
  .accordion {
    padding-top: 50px;
  }

  .dropcontrol:hover {
    cursor: pointer;
  }

  .dropcontrol-btn {
    font-size: 18px;
    margin-top: -25px;
    outline: none !important;
  }

  .arrow {
    float:right;
    margin-top: -35px;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .accordionDiv {
    display: flex;
    justify-content: center;
  }

  #generatereports_hyperlink {
    color: #0000EE;
    text-decoration: underline;
  }

  label {
    font-weight: 600;
  }
</style>

<div class="warehousevariancesuniqueidentifier content-squish-screens" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">
  <h1>Variances</h1>

  <%= form_for variances_path do |f| %>

  <div class="row justify-content-center" style="text-align: center; margin-bottom:40px;">
    <div class="col-4">
      <div class="form-group">
        <%= label_tag :warehouse, "Warehouse" %>
        <%= text_field_tag :warehouse, Selectedwarehouse.pluck(:warehouse), class: 'form-control', style: "text-align: center;", readonly: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :variance_date, "Variance Date *" %>
        <%= f.datetime_local_field :variance_date, value: @variance_params.try(:dig, "variance_date"), class: 'form-control', id: 'variance_date' %><br>
        <p id='select-variancedate-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required<p>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= label_tag :product, "Product *" %>
        <%= select_tag :product, options_for_select([@variance_params.try(:dig, "product") || 'Select a Product'] + @part_numbers.collect {|p| [p.partnumber]}),{ autofocus: true, id: 'part_select_dropdown-variances', class: "form-control mb-3", required: true}%>
        <p id='select-part-error' style='float:left; display:none; font-size: 13px; margin-top: -15px !important;'>*Required</p>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :uom, "Unit of Measure" %>
        <%= f.text_field :uom, value: @variance_params.try(:dig, "uom"), class: 'form-control', readonly: true, id: 'uom-text-field' %>
        <%= f.hidden_field :generatereports, value: @generate_reports, id: 'generatereports' %>
        <%= f.hidden_field :auditforgt1percentvariance, value: @auditforgt1percentvariance, id: 'auditforgt1percentvariance' %>
        <%= f.hidden_field :reportedstatus, value: @reportedstatus, id: 'reportedstatus' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= f.label :quantity, "Quantity *" %>
        <%= f.text_field :quantity, value: @variance_params.try(:dig, "quantity"), class: 'form-control', id: 'quantity' %><br>
        <p id='select-quantity-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group" style="padding-bottom: 20px;">
        <%= label_tag :sign, "Sign *" %>
        <%= select_tag :sign, options_for_select([@variance_params.try(:dig, "sign") || 'Select Variance Sign', '+', '-'] ),{ autofocus: true, class: " form-control mb-3", id: "sign-select-dropdown"}%>
        <p id='select-sign-error' style='float:left; display:none; font-size: 13px; margin-top: -15px !important;'>*Required</p>
      </div>
    </div>
  </div>

  <!-- Add a div for the submit button -->
  <div class="row">
    <div class="col-md-12 text-center">
      <div class='position-centerish' style='height:50px;'>
        <%= f.submit 'Record Variance', class: 'btn btn-sm btn-primary', style: "width:40%;" %>
      </div>
    </div>
  </div>

  <% end %>
</div>

<!-- END CARD BODY -->
<%#= link_to 'variances screen popup thing testing'.html_safe, auditforgt1percentvariance_screen_path, remote: true, class: "remove-link-styling", id: "dashboard" %>

<div class="accordionDiv">
  <div class="accordion" id="accordionExample" style="width: 90vw;">
    <div class="accordion-item">
    
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Warehouse Variance History
          </button>
        </h2>
        
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <% if @variance_history.any? %>
                <h6 class="card-subtitle mb-2 text-muted intructions">Click an entry number to rerun reports</h6>

                <div class="table-responsive resptbl-class" style="padding-top: 8px;">
                  <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
                      <thead>
                        <tr>
                          <th>Tank</th>
                          <th>Variance Date</th>
                          <th>Product</th>
                          <th>UOM</th>
                          <th>Variance Quantity</th>
                          <th>Sign</th>
                          <th>Variance Entry Number</th>
                        </tr>
                      </thead>
                      <tbody id="myTable">
                        <% @variance_history.each do |f| %>
                          <tr>
                            <td style="padding-top: 10px;"><%= f.warehouse %></td>
                            <td style="padding-top: 10px;"><%= f.variancedate.strftime('%Y-%m-%d %H:%M:%S') %></td>
                            <td style="padding-top: 10px;"><%= f.itemnumber %></td>
                            <td style="padding-top: 10px;"><%= f.uom %></td>
                            <td style="padding-top: 10px;"><%= f.variancequantity %></td>
                            <td style="padding-top: 10px;"><%= f.variancesign %></td>
                            <td style="padding-top: 10px;">
                              <%= link_to @warehouse_withdrawals.where(varianceid: f.varianceid).pluck(:withdrawalentrynumber).first, reprint_reports_path(varianceentrynumber: @warehouse_withdrawals.where(varianceid: f.varianceid).pluck(:withdrawalentrynumber).first, from_variance: 'VARIANCE'), id: "generatereports_hyperlink" %>
                              <%#= link_to @warehouse_withdrawals(f.withdrawalentrynumber, reprint_reports_path(varianceentrynumber: f.withdrawalentrynumber, from_variance: 'VARIANCE'), id: "generatereports_hyperlink" %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
                <div class="ftz_pagination">

                  <%= will_paginate @variance_history, :previous_label => 'prev', :next_label => 'next', param_name: 'variance_history_page' %>

                </div>
            <% else %>
              <span style="font-style:italic;">No recorded variances yet</span>
              <br>
            <% end %>

        </div>
      </div>
    </div>

  
  <br>
  <br>

<script>
  $(document).ready(function() {
    $("#up-arrow").hide();

    var errors_array = []

    var variance_date = $("#variance_date").val()
    var quantity = $("#quantity").val()
    var product_value = $("#part_select_dropdown-variances").val()
    var sign_value = $("#sign-select-dropdown").val()


    if (variance_date === null || variance_date === undefined || variance_date === '') {
      errors_array.push('variance_date')
    }

    if (quantity === null || quantity === undefined || quantity === '') {
      errors_array.push('quantity');
    }

    if (product_value == 'Select a Product') {
      errors_array.push('Part')
    }

    if (sign_value == 'Select Variance Sign') {
      errors_array.push('Sign')
    }

    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)

    $("#variance_date").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-variancedate-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'variance_date');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        if (errors_array.includes('variance_date')) {
          checkError(errors_array)
        } else {
          errors_array.push('variance_date')
          checkError(errors_array)
        }
      }
    })

    $("#quantity").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-quantity-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'quantity');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('quantity')
        checkError(errors_array)
      }
    })


    $("#sign-select-dropdown").on("change", function() {
      $('.element').hide();
      if (this.value !== 'Select Variance Sign') {
        $("#select-sign-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'Sign');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('Sign')
        checkError(errors_array)
      }
    });
    // Add a change event listener to the product dropdown
    $("#part_select_dropdown-variances").on("change", function() {
      $('.element').hide();
      // Check if a valid tank is selected (not "Select a Tank")
      if (this.value !== 'Select a Product') {
        // Enable the submit button
        //$("input[type='submit']").prop("disabled", false);
        $("#select-part-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'Part');
        //checkError(errors_array)
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        //$("input[type='submit']").prop("disabled", true);
        //$("#select-part-error").show().addClass("text-danger criteria-display-smplbw");
        errors_array.push('Part')
        checkError(errors_array)
      }

      var selectedProduct = $(this).val(); // Get the selected product

      // Use a flag to track if a match has been found
      var matchFound = false;

      // Initialize the UOM variable
      var uom = "";

      // Loop through your @part_numbers data to find the matching UOM
      <% @part_numbers.each do |part| %>
        if ("<%= part.partnumber %>" === selectedProduct) {
          matchFound = true;
          uom = "<%= part.uom %>";
        }
      <% end %>

      // Check if a match was found and set the value
      if (matchFound) {
        $("#uom-text-field").val(uom);
      } else {
        // Handle the case when no match is found
        $("#uom-text-field").val("");
      }
    });


    function checkError(errors_array) {
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-variancedate-error").hide()
        $("#select-quantity-error").hide();
        $("#select-part-error").hide();
        $("#select-sign-error").hide();
        $('.warehousevariancesuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');

      } else {
        $('.warehousevariancesuniqueidentifier').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "Part":
              $("#select-part-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "Sign":
              $("#select-sign-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "variance_date":
              $("#select-variancedate-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "quantity":
              $("#select-quantity-error").show().addClass("text-danger criteria-display-smplbw");
              break;
          }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.warehousevariancesuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
    }


    var reportedstatus = $("#reportedstatus").val()
    var generatereports = $("#generatereports").val()
    var auditforgt1percentvariance = $("#auditforgt1percentvariance").val()

    if (generatereports == 'CLEAREDTOREPORT') {
      // Download the first PDF
      downloadPDF("/withdrawal_statement_report", function() {
        // This callback is executed when the first PDF download is finished
        //console.log("First PDF download is complete");

        // Download the second PDF after the first one is finished
        downloadPDF("/running_balance_report", function() {
          $('.element').hide();
          //console.log("Second PDF download is complete");

          if (auditforgt1percentvariance == 'PRESENT') {
            $.ajax({
              url: '/auditforgt1percentvariance_screen',
              success: function(response) {

              },
              error: function(error) {
                //console.log('Error retrieving record: ' + error[1]);
              }
            });
          }

          //calls depleted not reported screen if there are no gt1 percent variances
          if (reportedstatus > 0 && auditforgt1percentvariance != 'PRESENT') {
            $.ajax({
              url: '/depletednotreportedreceipts',
              success: function(response) {

              },
              error: function(error) {
                //console.log('Error retrieving record: ' + error[1]);
              }
            });
          }
        });
      });

      $("#generatereports").text('')
      $("#auditforgt1percentvariance").text('')
      $("#generatereports").val('')
      $("#auditforgt1percentvariance").val('')
    }

    function downloadPDF(url, callback) {

      var req = new XMLHttpRequest();
      req.open("GET", url, true);
      req.responseType = "blob";

      req.onload = function (event) {
        var blob = req.response;
        //console.log(blob.size);
        var contentDisposition = req.getResponseHeader('Content-Disposition');
        var filename = contentDisposition.match(/filename="(.+)"/)[1];
        var link=document.createElement('a');
        link.href=window.URL.createObjectURL(blob);
        link.download = filename;
        link.click();

        if (typeof callback === "function") {
          callback();
        }
      };

      req.send();
    }
  });
</script>
