<style>
.border-settings {
  border-bottom: 1.5px solid black;
}

.position {
  float: left;
}

  .accordion {
    padding-top: 50px;
  }


  .accordionDiv {
    display: flex;
    justify-content: center;
  }

  label {
    font-weight: 600;
  }

 #client_select_dropdown {
  margin-bottom: 0px !important;
} 

</style>


<div class="warehousewithdrawalsuniqueidentifier content-squish-screens" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">

  <h1 style="font-size: 30px; !important;">Warehouse Shipments</h1>

  <%= form_for warehouse_withdrawals_path do |f| %>
    <div class="row justify-content-center" style="text-align: center; padding-top: 20px;">
      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :clientpo, "Client PO *", class: "position" %>
          <%= f.text_field :clientpo, value: @withdrawal_params.try(:dig, "clientpo"), class: 'form-control', id: 'clientpo' %>
          <% if flash[:danger].to_s.include?('archived shipment already exists for client PO') %>
            <a><%= link_to "View Archive", warehouse_archive_path(archivedshipments: { clientpo_cont: @withdrawal_params.try(:dig, "clientpo") }) + '#outsideshipment', style: "text-decoration: underline; color: blue;" %></a><br>
          <% end %>
          <br>
          <p  id='select-clientpo-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>
  
      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :releasedate, "Release Date *", class: "position" %>
          <%= f.date_field :releasedate, value: @withdrawal_params.try(:dig, "releasedate"), class: 'form-control', id: 'releasedate' %><br>
          <p id='select-releasedate-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required<p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :client, "Client", class: "position" %>
          <%= select_tag :client, options_for_select([@withdrawal_params.try(:dig, "client") || 'Select client'] + @client.collect {|p| [p.client]}),{ autofocus: true, class: " form-control mb-3", id: "client_select_dropdown"}%><br>
        </div>
      </div>

      <div class="col-1">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= link_to '<i class="fas fa-plus fa-md center" aria-hidden="true" style="float: none;"></i>'.html_safe, warehouse_clients_path, class: "icon-add" %>
        </div>  
      </div>

    <div class="row justify-content-center" style="text-align: center;">
      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :cartons30lb, "30LB Cartons", class: "position" %>
          <%= f.number_field :cartons30lb, value: @withdrawal_params.try(:dig, "cartons30lb"), class: 'form-control', id: 'cartons30lb' %><br>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :cartons10lb, "10LB Cartons", class: "position" %>
          <%= f.number_field :cartons10lb, value: @withdrawal_params.try(:dig, "cartons10lb"), class: 'form-control', id: 'cartons10lb' %><br>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" style="padding-bottom: 20px;">
          <%= f.label :cartons5lb, "5LB Cartons", class: "position" %>
          <%= f.number_field :cartons5lb, value: @withdrawal_params.try(:dig, "cartons5lb"), class: 'form-control', id: 'cartons5lb' %><br>
        </div>
      </div>

      <div class="col-1">
        <div class="form-group" style="padding-bottom: 20px;">
        </div>  
      </div>

    </div>

    <!-- Add a div for the submit button -->
    <div class="row justify-content-center" style="text-align: center;">
      <div class="col-md-12 text-center">
        <div class='position-centerish' style='height:30px;'>
          <%= f.submit 'Record Shipment', class: 'btn btn-sm btn-primary', style: "width:50%;" %>
        </div>
      </div>
    </div>
    </div>
  <% end %>

</div>

<!-- END CARD BODY -->

<br><br>
<div class="content-squish-screens" style="background-color: #f4f4f4; padding: 20px;">
      <h2 style="border-bottom: 1px solid #000000; font-size: 24px;">
        Active
      </h2>
        <% if @shipments.any? %>
          <div class="table-responsive resptbl-class" style="overflow-x: visible !important;">
          <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
          <thead>
            <tr>
              <th>Release Date</th>
              <th>Client PO</th>
              <th>Client</th>
              <th>Cartons 30LB</th>
              <th>Cartons 10LB</th>
              <th>Cartons 5LB</th>
              <th colspan="1" style="text-align:center;">Actions</th>
              <!--<th colspan="1" style="text-align:center;">Details</th>-->
            </tr>
          </thead>
          <tbody id="myTable">
            <% @shipments.each do |f| %>
              <tr>      
                <td><%= f.releasedate %></td>
                <td><%= f.clientpo %></td>
                <td><%= f.client %></td>
                <td><%= f.cartons30lb %></td>
                <td><%= f.cartons10lb %></td>
                <td><%= f.cartons5lb %></td>
                <td colspan="1" style="text-align:center;">
                  <div class="btn-group dropend">
                    <button type="button" class="btn btn-light btn-sm btn-search dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Actions
                    </button>
                    <ul class="dropdown-menu" style="background: #fff; position: absolute; z-index: 1050;">
                      <div class="row justify-content-center" style="text-align: center;">
                        <% if SpcShipmentsDetail.where(warehouse: @userWarehouse, clientpo: f.clientpo).count == 0 %>
                          <div class="col-4 justify-content-center" style="text-align: center; margin-left: -20px;">
                            <li><%= link_to '<i class="fas fa-pencil-alt fa-md center" aria-hidden="true" style="float: none;"></i>'.html_safe, update_shipments_path(clientpo: f.clientpo ), method: :get, class: "icon-edit dropdown-item" %></li>
                          </div>
                          <div class="col-4 justify-content-center" style="text-align: center;">
                            <li><%= link_to '<i class="fas fa-trash-alt fa-md center" aria-hidden="true" style="float: none; color: #d50015;"></i>'.html_safe, verify_delete_path(caller: "warehouse_withdrawals", clientpo: f.clientpo), data: { turbo_frame: "delete_modal_frame" }, class: "icon-delete dropdown-item" %></li>
                          </div>
                        <% else %>
                          <div class="col-4 justify-content-center" style="text-align: center; margin-left: -20px;">
                            <li><%= link_to '<i class="fas fa-pencil-alt fa-md center" aria-hidden="true" style="float: none;"></i>'.html_safe, update_shipments_path(clientpo: f.clientpo ), method: :get, class: "icon-edit dropdown-item" %></li>
                          </div>
                        <% end %>
                      
                        <li><hr class="dropdown-divider"></li>
                        <!-- DO WE WANT TO ALLOW ARCHIVING OF SHIPMENTS THAT HAVE NO DETAILS -->
                        <li><%= link_to 'View Details', shipments_details_path(clientpo: f.clientpo), class: "dropdown-item" %></li>                        
                        <li><%= link_to 'Select Receipt', select_criteria_path(from: 'SHIP', clientpoORprodid: f.clientpo), data: { turbo_frame: "select_criteria_modal" }, class: "dropdown-item" %></li>
                        <li><%= link_to 'Positive Release', generate_positive_release_path(clientpo: f.clientpo, client: f.client, releasedate: f.releasedate), data: { turbo_frame: "positive_release_modal" }, class: "dropdown-item" %></li>
                        <li><%= link_to 'Archive', archive_shipment_path(clientpo: f.clientpo), class: "dropdown-item", data: { turbo: false, confirm: "Archive this shipment?" } %></li>
                      </div>
                    </ul>
                  </div>
                </td>

              </tr>
            <% end %>
          </tbody>
      </table>
          </div>
          <div class="ftz_pagination">

            <%= will_paginate @shipments, :previous_label => 'prev', :next_label => 'next', param_name: 'withdrawals_page' %>

          </div>
      <% else %>
        <span style="font-style:italic;">No recorded shipments yet</span>
        <br>
      <% end %>
</div>
<br>
<br>
<script>
document.addEventListener("turbo:load", function () {
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

  var buttons = document.querySelectorAll(".popoverBtn");

  buttons.forEach(function(button) {

    button.addEventListener("mouseover", function() {
      // Simulate a click when hovering over the button
      this.click();
    });

    button.addEventListener("mouseout", function() {
      this.click();
    });
  });
 });

  document.addEventListener("turbo:load", function () {
    const currentDate = new Date();
    const oneWeekAgo = new Date(currentDate);
    oneWeekAgo.setDate(currentDate.getDate() - 7);  
    const oneWeekLater = new Date(currentDate);
    oneWeekLater.setDate(currentDate.getDate() + 7); 
  
    const minDate = oneWeekAgo//.toISOString().split('T')[0];
    const maxDate = oneWeekLater//.toISOString().split('T')[0];
  
    $('#releasedate').attr('min', minDate);
    $('#releasedate').attr('max', maxDate);
  
    $("#releasedate").on("change", function() {
      var selectedDate = new Date(this.value);
      if (selectedDate < oneWeekAgo || selectedDate > oneWeekLater) {
        $("#select-releasedate-error").text("Please select a date within one week from today.").show();
        this.value = ''; 
      } else {
        $("#select-releasedate-error").hide();
      }
    });
  });

document.addEventListener("turbo:load", function () {
    
    $("#up-arrow").hide()

    var errors_array = []

    var releasedate = $("#releasedate").val()
    //var client = $("#client_select_dropdown").val()
    var clientpo = $("#clientpo").val()

    if (releasedate === null || releasedate === undefined || releasedate === '') {
      errors_array.push('releasedate')
    }
/*
    if (client === null || client === undefined || client === '') {
      errors_array.push('client');
    }
*/
    if (clientpo === null || clientpo === undefined || clientpo === '') {
      errors_array.push('clientpo');
    }


    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)


    $("#releasedate").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-releasedate-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'releasedate');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        if (errors_array.includes('releasedate')) {
          checkError(errors_array)
        } else {
          errors_array.push('releasedate')
          checkError(errors_array)
        }
      }
    })
/*
    $("#client_select_dropdown").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-client-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'client');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('client')
        checkError(errors_array)
      }
    })
*/

    $("#clientpo").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-clientpo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'clientpo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('clientpo')
        checkError(errors_array)
      }
    })

  
    function checkError(errors_array) {
      //console.log(errors_array)
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-releasedate-error").hide();
       // $("#select-client-error").hide();
        $("#select-clientpo-error").hide();
        $('.warehousewithdrawalsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
        
      } else {
        $('.warehousewithdrawalsuniqueidentifier').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "releasedate":
              $("#select-releasedate-error").show().addClass("text-danger criteria-display-smplbw");
              break;
/*
            case "client":
              $("#select-client-error").show().addClass("text-danger criteria-display-smplbw");
              break;
*/
            case "clientpo":
              $("#select-clientpo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
          }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.warehousewithdrawalsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
    }

    
  });
</script>
