<style>
  .custom-modal-width {
    min-width: 75%; /* Set your desired width */
}

  .form-control {
      margin-bottom: 15px;
}
</style>
<div class="modal fade" id="newFedParts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog custom-modal-width" role="document">
    <div class="modal-content" style="background-color: #fff;">
      <div class="modal-header editmdhd">
        <h5 class="modal-title" id="exampleModalLabel">Add New Client Firmscode Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 justify-content-center">
            <%= form_for smplbw_edit_client_path do |f| %>

              <%= f.label :firmscode, "Firmscode" %>
              <%= f.text_field :firmscode, class: "form-control", placeholder: "", autofocus: true %>

              <%= f.label :facilityname, "Facility Name" %>
              <%= f.text_field :facilityname, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :irsidentificationnumber, "IRS Identification Number" %>
              <%= f.text_field :irsidentificationnumber, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :signatorytitle, "Contact Person: Signatory Title" %>
              <%= f.text_field :signatorytitle, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :contactpersonlastname, "Contact Person: Last Name" %>
              <%= f.text_field :contactpersonlastname, class: "form-control", placeholder: "", autofocus: true %>

              <%= f.label :contactpersonfirstname, "Contact Person: First Name" %>
              <%= f.text_field :contactpersonfirstname, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :contactpersonmiddleinitial, "Contact Person: Middle Initial" %>
              <%= f.text_field :contactpersonmiddleinitial, class: "form-control", placeholder: "", autofocus: true%>
            </div>
            <div class="col-6 justify-content-center">
              <%= f.label :telephonenumber, "Telephone Number" %>
              <%= f.text_field :telephonenumber, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :streetaddress, "Street Address" %>
              <%= f.text_field :streetaddress, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :city, "City" %>
              <%= f.text_field :city, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :state, "State" %>
              <%= f.text_field :state, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :zipcode, "Zipcode" %>
              <%= f.text_field :zipcode, class: "form-control", placeholder: "", autofocus: true%>

              <%= f.label :companyname, "Company Name" %>
              <%= f.text_field :companyname, class: "form-control", placeholder: "", autofocus: true%>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class='position-centerish' style='height:50px;'>
                    <%= f.submit "Add New", class: 'btn btn btn-light btn-sm btn-new', style: "width: 50%;", id: "addnew" %>
                  </div>
                </div>
              </div>
            <% end %>

      </div>

          <div class="modal-footer editmdft">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function() {

    $("#addnew").on("click", function(e) {
      e.preventDefault();

      const formData = {
        firmscode: $("#_smplbw_edit_client_firmscode").val(),
        facilityname: $("#_smplbw_edit_client_facilityname").val(),
        irsidentificationnumber: $("#_smplbw_edit_client_irsidentificationnumber").val(),
        signatorytitle: $("#_smplbw_edit_client_signatorytitle").val(),
        contactpersonlastname: $("#_smplbw_edit_client_contactpersonlastname").val(),
        contactpersonfirstname: $("#_smplbw_edit_client_contactpersonfirstname").val(),
        contactpersonmiddleinitial: $("#_smplbw_edit_client_contactpersonmiddleinitial").val(),
        telephonenumber: $("#_smplbw_edit_client_telephonenumber").val(),
        streetaddress: $("#_smplbw_edit_client_streetaddress").val(),
        city: $("#_smplbw_edit_client_city").val(),
        state: $("#_smplbw_edit_client_state").val(),
        zipcode: $("#_smplbw_edit_client_zipcode").val(),
        companyname: $("#_smplbw_edit_client_companyname").val()
      };

      $.ajax({
        url: "/add_new_firmscode", // Update with your controller's path
        method: "POST",
        data: formData,
        success: function () {
          location.reload()
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    })
  })
</script>
