
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #fff;">
      <div class="modal-header editmdhd">
        <h5 class="modal-title" id="exampleModalLabel">Edit Fed Vendor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">



        <%= form_for @client, remote: true do |f| %>
          <%= f.label :company, "Company", class: "required" %>
          <%= f.text_field :company, class: "form-control", autofocus: true, required: true %>

          <%= f.label :url, "URL", class: "required" %>
          <%= f.text_field :url, class: "form-control", autofocus: true, required: true %>



          <br>


          <%= f.submit "Save Changes", class: 'btn btn btn-light btn-sm btn-new', onclick: "$('#divId').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();" %>
        <% end %>



      </div>

      <div class="modal-footer editmdft">
        <% if request.referrer.include?('dashboard') %>
          <div class="modal-footer editmdft  justify-content-between">
            <button type="button" class="btn btn-secondary mr-auto" ><%= link_to "Delete", @ven, method: :delete, remote: true, data: { confirm: "Are you sure want to permanently delete this Record?" }, class: "white-text" %></button>
        <% else %>
          <div class="modal-footer editmdft">
        <% end %>


        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
 </div>
