<turbo-frame id="receipt_details_modal">
<style>
	.modal-content {
	overflow: auto;
	background-color: white; 
	}

	.modal-content::-webkit-scrollbar {
	height: 8px;
	}

	.modal-content::-webkit-scrollbar-track {
	background: white; 
	}

	.modal-content::-webkit-scrollbar-thumb {
	background: gray; 
	border-radius: 4px;
	}
</style>

<div class="modal fade" id="receiptdetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<!-- <div class="modal-dialog modal-lgdialog" role="document" style="width:1350px !important;"> -->
<div class="modal-dialog modal-exlgdialog2" role="document" >

  <div class="modal-content" style="overflow: auto; background-color: #fff;">
    <div class="modal-header">
    	<h5 class="modal-title" id="exampleModalLabel">Archived Receipt Details</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <br>
    <div class="modal-body">
			<div class="lgtable filter-page cycle-count-modal">
			
			<br>

			<div class="table-responsive resptbl-class">
					<%#= render  partial: "filters/search_filter_options", locals: { data_scope: "research_cycle_count_inventory", data_search_form_id: "transaction_inventory_cycle_count_report_view_search", data_custom_search_form_fields: "custom-filter-research_cycle_count_inventory-field", data_filter_form_id: "custom-filter-sub-research_cycle_count_inventory-div", filter_div_id: "custom-filter-research_cycle_count_inventory-div", sub_filter_div_id: "custom-filter-sub-research_cycle_count_inventory-div", options_details: get_research_cycle_count_inventory_details } %>

				</div>
				<table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap errortbl">
					<thead class="thead-dark">
						<thead>
							<tr>
								<th>SPC</th>
								<th>ID</th>
								<th>Line#</th>
								<th>Codigo</th>
								<th>Pallet</th>
								<th>Lot</th>
								<th>LBO</th>
								<th>Freezer#</th>
								<th>Rack#</th>
								<th>Side</th>
								<th>Location</th>
								<th>Quantity</th>
								<th>Remaining Quantity</th>
								<th>UOM</th>
								<th>COO</th>
								<th>Created</th>
								<th>Archived</th>
								<th>Manufacturer Mid Code</th>
								<th>Warehouse</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<% @archived_receipts_details.each do |f| %>
								<tr>
									<td><%= f.spc %></td>
									<td><%= f.id %></td>
									<td><%= f.lineno %></td>
									<td><%= f.codigo %></td>
									<td><%= f.pallet %></td>
									<td><%= f.lot %></td>
									<td><%= f.lbo %></td>
									<td><%= f.freezernum %></td>
									<td><%= f.racknum %></td>
									<td><%= f.side %></td>
									<td><%= f.location %></td>
									<td><%= f.quantity %></td>
									<td><%= f.quantity_remaining %></td>
									<td><%= f.uom %></td>
									<td><%= f.coo %></td>
									<td><%= f.recording_timestamp %></td>
									<td><%= f.archived_date %></td>
									<td><%= f.manufacturer_mid_code %></td>
									<td><%= f.warehouse %></td>
								</tr>
							<% end %>
						</tbody>
					</thead>
				</table>
			</div><!-- end table responsive -->
			<br>


			<div class="ftz_pagination">
				<%#= js_will_paginate @cycle_count_inventory_reports, :previous_label => 'prev', :next_label => 'next', param_name: 'research_cycle_count_inventory_page' %>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" class="close" data-bs-dismiss="modal">Close</button>
		</div>
	</div>

	

</div>
</div>
</div>

<script>
  document.addEventListener("turbo:frame-load", function(event) {
    console.log("Frame loaded: " + event.target.id);
    if (event.target.id === "receipt_details_modal") {
      var modalElement = document.getElementById("receiptdetails");
      if (modalElement) {
        var modal = new bootstrap.Modal(modalElement);
        modal.show();
      }
    }
  });
</script>
</turbo-frame>