<!DOCTYPE html>
<html lang="en">


<!-- Nav tabs -->
<ul class="nav nav-pills" id="myFeedTab" role="tablist">
  <% @user_tabs.each_with_index do |user_tab, i| %>
    <% tab = user_tab[0] %>
    <% active_tab = tab.parameterize.dasherize %>
    <li class="nav-item" id="<%= user_tab %>">
      <a class="nav-link <%= '' if i==0 %>" id="<%= active_tab %>-tab" data-bs-toggle="tab" href="#<%= active_tab %>" role="tab" aria-controls="<%= active_tab %>" aria-selected="true"><%= tab %></a>
    </li>

  <% end %>

</ul>


<!-- Tab panes -->
<div class="tab-content">
  <% @user_tabs.each_with_index do |user_tab, i| %>
    <% tab = user_tab[0] %>
    <% active_tab = tab.parameterize.dasherize %>
    <div class="tab-pane " id="<%= active_tab %>" role="tabpanel" aria-labelledby="<%= active_tab %>-tab"><%= render tab.parameterize.underscore, active_tab: active_tab %></div>
  <% end %>

</div>



<script>
  $(document).ready(function() {
    if (window.location.href.includes("outsidereceipt")) {
      $("#shipments").removeClass("active show");
      $("#production").removeClass("active show");
      $("#receipts").addClass("active show");

      $("#shipments-tab").removeClass("active");
      $("#production-tab").removeClass("active");
      $("#receipts-tab").addClass("active");
      console.log("rec");
    } else if (window.location.href.includes("outsideshipment")) {
      $("#shipments").addClass("active show");
      $("#production").removeClass("active show");
      $("#receipts").removeClass("active show");

      $("#shipments-tab").addClass("active");
      $("#receipts-tab").removeClass("active");
      $("#production-tab").removeClass("active");
      console.log("ship");
    } else if (window.location.href.includes("outsideproduction")) {
      $("#shipments").removeClass("active show");
      $("#production").addClass("active show");
      $("#receipts").removeClass("active show");

      $("#production-tab").addClass("active");
      $("#receipts-tab").removeClass("active");
      $("#shipments-tab").removeClass("active");
      console.log("prod");
    } 

  });
</script>