<style>
.border-settings {
  border-bottom: 1.5px solid black;
}

.position {
  float: left;
}

  .accordion {
    padding-top: 50px;
  }


  .accordionDiv {
    display: flex;
    justify-content: center;
  }

  label {
    font-weight: 600;
  }

  .cases-summary h3 {
    margin: 2px 0; 
  }

#uom_select_dropdown {
  margin-bottom: 0px !important;
}

#codigo_select_dropdown {
  margin-bottom: 0px !important;
}

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


</style>
<div class="content-squish-screens-less-strict" style="margin-left: 8%; margin-right: 8%;">
  <div class="row">
    <div class="col-4" style="float:left;">
      <div class="warehousereceiptdetailsuniqueidentifier" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">


        <h1>Add Details</h1>

        <%= form_for receipts_details_path do |f| %>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-6">
              <div class="form-group">
                <%= f.label :spc, "SPC" %>
                <%= f.text_field :spc, value: @current_spc, class: 'form-control', id: 'spc', readonly: true %><br>
                <p id='select-spc-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" >
                <%= f.label :lineno, "Line #", class: "position" %>
                <%= f.number_field :lineno, value: @receipts_params.try(:dig, "lineno") || @linenoVal + 1, class: 'form-control', id: 'lineno' %><br>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: -10px;">
            <div class="col-6">
              <div class="form-group">
                <%= f.label :codigo, "Codigo *", class: "position" %>
                <%= select_tag :codigo, options_for_select([@receipts_params.try(:dig, "codigo") || 'Select codigo'] + @codigo.collect {|p| [p.sku]}),{ autofocus: true, class: " form-control mb-3", id: "codigo_select_dropdown", required: true}%><br>
                <p id='select-codigo-code-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
                <p></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <%= f.label :pallet, "Pallet *", class: "position" %>
                <%= f.text_field :pallet, value: @receipts_params.try(:dig, "pallet"), class: 'form-control', id: 'pallet', placeholder: "Required..." %><br>
                <p id='select-pallet-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
              </div>
            </div>
          </div>
        
	        <div class="row" style="margin-top: -10px;">
            <div class="col-6">
              <div class="form-group" >
                <%= f.label :lot, "Lot *" %>
                <%= f.text_field :lot, value: @receipts_params.try(:dig, "lot"), class: 'form-control', id: 'lot' %><br>
                <p  id='select-lot-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
                <p></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" >
                <%= f.label :lbo, "LBO *", class: "position" %>
                <%= f.text_field :lbo, value: @receipts_params.try(:dig, "lbo"), class: 'form-control', id: 'lbo' %><br>
                <p id='select-lbo-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
                <p></p>
              </div>      
            </div>
          </div>

        <div class="row" style="margin-top: -10px;">
            <div class="col-6">
              <div class="form-group">
                <%= f.label :freezernum, "Freezer #", class: "position" %>
                <%= f.text_field :freezernum, value: @receipts_params.try(:dig, "freezernum"), class: 'form-control', id: 'freezernum' %><br>
                <p></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <%= f.label :side, "Side", class: "position" %>
                <%= f.text_field :side, value: @receipts_params.try(:dig, "side"), class: 'form-control', id: 'side' %><br>
                <p></p>
              </div>
            </div>
          </div>
        
	        <div class="row" style="margin-top: -10px;">
            <div class="col-6">
              <div class="form-group">
                <%= f.label :racknum, "Rack #", class: "position" %>
                <%= f.text_field :racknum, value: @receipts_params.try(:dig, "racknum"), class: 'form-control', id: 'racknum' %><br>
                <p></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <%= f.label :location, "Location", class: "position" %>
                <%= f.text_field :location, value: @receipts_params.try(:dig, "location"), class: 'form-control', id: 'location' %><br>
                <p></p>
              </div>   
            </div>
          </div>
        
          <div class="row justify-content-center" style="text-align: center; margin-top: -10px;">
            <div class="col-4">
              <div class="form-group" >
                <%= f.label :quantity, "Qty *", class: "position" %>
                <%= f.number_field :quantity, value: @receipts_params.try(:dig, "quantity") || 60, class: 'form-control no-spinners', id: 'quantity' %><br>
                <%= f.hidden_field :quantity_remaining, value: @receipts_params.try(:dig, "quantity") || 60,  id: 'hidden_quantity' %>
                <p  id='select-quantity-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.label :uom, "UOM *", class: "position" %> <!-- MN 01/30/2025 DEFAULTED case to CAS30 -->
                <%= select_tag :uom, options_for_select([@receipts_params.try(:dig, "uom") || 'CAS30', 'CAS10', 'CAS05', 'LBS']), { autofocus: true, class: "form-control mb-3", id: "uom_select_dropdown", required: true } %><br>
                <p id='select-casetype-code-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
              </div> 
            </div>
            <div class="col-4">
              <div class="form-group" >
                <%= f.label :coo, "COO *", class: "position" %> <!-- MN 01/30/2025 DEFAULTED coo to MX -->
                <%= select_tag :coo, options_for_select([@receipts_params.try(:dig, "coo") || 'MX'] + @countries.collect {|p| [p.countryoforigin]}),{ autofocus: true, class: " form-control mb-3", id: "coo_select_dropdown", required: true}%><br>
                <p id='select-coo-code-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
              </div>
            </div>
          </div>


          <!-- Add a div for the submit button -->
          <div class="row justify-content-center" style="text-align: center;">
            <div class="col text-center">
              <div class='position-centerish' style='height:30px;'>
                <%= f.submit 'Record Details', class: 'btn btn-sm btn-primary', style: "width:auto;" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-8" style="float:right;">
      <div class="" style="background-color: #f4f4f4; padding: 20px;">
      
            <div class="row">


              <div class="col">
                <h2 style="font-size: 24px; margin-bottom: 0px;">Receipt Details</h2>
                <%= link_to 'Back', warehouse_receipts_path, class: "btn btn-light btn-sm btn-search", style: "min-width: 100px; margin-bottom: 9px;" %>
              </div>


              <div class="col">
                <div class="cases-summary" style="float:right; text-align: right; margin: 2px 0 9px 0;">
                  <h3 style="font-size: 16px;">Expected LBS: <%= number_with_delimiter(@expected_cases, delimiter: ",") %></h3>
                  <% if @expected_cases != @total_cases %>
                    <h3 style="font-size: 16px;">Total LBS: <span style="color: #FF0000"><%= number_with_delimiter(@total_cases, delimiter: ",") %></span></h3>
                  <% else %>
                    <h3 style="font-size: 16px;">Total LBS: <span style="color: #28A745"><%= number_with_delimiter(@total_cases, delimiter: ",") %></span></h3>
                  <% end %>
                </div>
              </div>


            </div>

        

        <div class="row justify-content-center" style="text-align: center;">
          <% if @receiptdetails.any? %>
            <div class="table-responsive resptbl-class">
              <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
                  <thead>
                    <tr>
                      <th colspan="1" style="text-align:center;">Actions</th>
                      <th>ID</th>
                      <th>SPC</th>
                      <th>Line #</th>
                      <th>Codigo</th>
                      <th>Pallet</th>
                      <th>Lot</th>
                      <th>LBO</th>
                      <th>Quantity</th>
                      <th>Remaining Quantity</th>
                      <th>UOM</th>
                      <th>COO</th>
                      <th>Freezer#</th>
                      <th>Rack#</th>
                      <th>Side</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <% @receiptdetails.each do |f| %>
                      <tr>
                        <td colspan="1" style="text-align:center;">
                          <%= link_to '<i class="fas fa-pencil-alt fa-md center" aria-hidden="true" style="float: none; padding-left: 9px;"></i>'.html_safe, update_receipts_details_path(id: f.id), method: :get, class: "icon-edit" %>
                          <%= link_to '<i class="fas fa-trash-alt fa-md center" aria-hidden="true" style="float: none; color: #d50015; padding-left: 9px;"></i>'.html_safe, verify_delete_path(caller: "receipts_details", id: f.id, spc: f.spc), data: { turbo_frame: "delete_modal_frame" }, class: "icon-delete" %>

                        </td>
                        <td><%= f.id %></td>
                        <td><%= f.spc %></td>
                        <td><%= f.lineno %></td>
                        <td><%= f.codigo %></td>
                        <td><%= f.pallet %></td>
                        <td><%= f.lot %></td>
                        <td><%= f.lbo %></td>
                        <td><%= f.quantity %></td>
                        <td><%= f.quantity_remaining %></td>
                        <td><%= f.uom %></td>
                        <td><%= f.coo %></td>
                        <td><%= f.freezernum %></td>
                        <td><%= f.racknum %></td>
                        <td><%= f.side %></td>
                        <td><%= f.location %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
            <div class="ftz_pagination">

              <%= will_paginate @receiptdetails, :previous_label => 'prev', :next_label => 'next', param_name: 'receipts_details_page' %>

            </div>
          <% else %>
            <span style="font-style:italic;">No recorded receipt details</span>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END CARD BODY -->


</div>
<br>
<br>
<script>
  document.addEventListener("turbo:load", function () {
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

  var buttons = document.querySelectorAll(".popoverBtn");

  buttons.forEach(function(button) {

    button.addEventListener("mouseover", function() {
      // Simulate a click when hovering over the button
      this.click();
    });

    button.addEventListener("mouseout", function() {
      this.click();
    });
  
  });
});

    document.addEventListener("turbo:load", function () {
    
    $("#up-arrow").hide()

    var errors_array = []

    var spc = $("#spc").val()
    var codigo = $("#codigo_select_dropdown").val()
    var pallet = $("#pallet").val()
    var lot = $("#lot").val()
    var lbo = $("#lbo").val()
    var quantity = $("#quantity").val()
    var casetype = $("#uom_select_dropdown").val()
    var coo = $("#coo_select_dropdown").val()

    
    if (spc === null || spc === undefined || spc === '') {
      errors_array.push('spc');
    }

    if (codigo == 'Select codigo') {
      errors_array.push('codigo');
    }

    if (pallet === null || pallet === undefined || pallet === '') {
      errors_array.push('pallet');
    }

    if (lot === null || lot === undefined || lot === '') {
      errors_array.push('lot');
    }

    if (lbo === null || lbo === undefined || lbo === '') {
      errors_array.push('lbo');
    }

    if (quantity === null || quantity === undefined || quantity === '') {
      errors_array.push('quantity');
    }

    if (casetype == 'Select UOM') {
      errors_array.push('casetype');
    }

    if (coo == 'Select country of origin') {
      errors_array.push('coo');
    }



    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)


    $("#spc").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-spc-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'spc');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('spc')
        checkError(errors_array)
      }
    })
  

    $("#codigo_select_dropdown").on("change", function() {
      $('.element').hide();
      if (this.value !== 'Select codigo') {

        $("#select-codigo-code-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'codigo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('codigo')
        checkError(errors_array)
      }
    })

    $("#pallet").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-pallet-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'pallet');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('pallet')
        checkError(errors_array)
      }
    })

    $("#lot").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-lot-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'lot');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('lot')
        checkError(errors_array)
      }
    })

    $("#lbo").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-lbo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'lbo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('lbo')
        checkError(errors_array)
      }
    })

    $("#quantity").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-quantity-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'quantity');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('quantity')
        checkError(errors_array)
      }
    })

    $("#uom_select_dropdown").on("change", function() {
      $('.element').hide();
      if (this.value !== 'Select UOM') {

        $("#select-casetype-code-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'casetype');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('casetype')
        checkError(errors_array)
      }
    })

    $("#coo_select_dropdown").on("change", function() {
      $('.element').hide();
      if (this.value !== 'Select country of origin') {

        $("#select-coo-code-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'coo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('coo')
        checkError(errors_array)
      }
    })

    function checkError(errors_array) {
      //console.log(errors_array)
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-spc-error").hide();
        $("#select-codigo-code-error").hide();
        $("#select-pallet-error").hide();
        $("#select-lot-error").hide();
        $("#select-lbo-error").hide();
        $("#select-quantity-error").hide();
        $("#select-casetype-code-error").hide();
        $("#select-coo-code-error").hide();
        $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
        
      } else {
        $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "spc":
              $("#select-spc-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "codigo":
              $("#select-codigo-code-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "pallet":
              $("#select-pallet-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "lot":
              $("#select-lot-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "lbo":
              $("#select-lbo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "quantity":
              $("#select-quantity-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "casetype":
              $("#select-casetype-code-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "coo":
              $("#select-coo-code-error").show().addClass("text-danger criteria-display-smplbw");
              break;
          }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
    }

    
  });

  $('#quantity').on('input', function () {
    $('#hidden_quantity').val($(this).val());
  });
</script>
