<div class="warehousereceiptdetailsuniqueidentifier content-squish-screens" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">
<h1 style="font-size: 30px; !important; padding-bottom: 30px;">Update Receipt Details</h1>

  <%= form_with model: @receiptdetail, url: update_receipts_details_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :id, value: @receiptdetail.id, id: 'id' %>
    <div class="row justify-content-center" style="text-align: center;">
      <div class="col-3">
        <div class="form-group">
          <%= f.label :spc, "SPC" %>
          <%= f.text_field :spc, class: 'form-control', id: 'spc', readonly: true %><br>
          <p id='select-spc-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :lineno, "Line #" %>
          <%= f.number_field :lineno, class: 'form-control', id: 'lineno' %><br>
          <p id='select-lineno-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'><p>
        </div>
      </div>


      <div class="col-3">
        <div class="form-group">      
          <%= f.label :codigo, "Codigo * ",  class: "position" %>
          <%= select_tag :codigo, options_for_select(@codigo.collect {|p| [p.sku]}, @receiptdetail.codigo), { autofocus: true, class: "form-control mb-3", id: "codigo_select_dropdown", required: true } %><br>
          <p id='select-codigo-error' style='float:left; display:none; font-size: 13px; margin-top: -34px !important;'>*Required<p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <%= f.label :pallet, "Pallet *" %>
          <%= f.text_field :pallet, class: 'form-control', id: 'pallet' %><br>
          <p id='select-pallet-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required<p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :lot, "Lot *" %>
          <%= f.text_field :lot, class: 'form-control', id: 'lot' %><br>
          <p  id='select-lot-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>


      <div class="col-3">
        <div class="form-group" >
          <%= f.label :lbo, "LBO *" %>
          <%= f.text_field :lbo, class: 'form-control', id: 'lbo' %><br>
          <p  id='select-lbo-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :quantity, "Quantity  *" %>
          <%= f.number_field :quantity, class: 'form-control', id: 'quantity' %><br>
          <p  id='select-quantity-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>

      
      <div class="col-3">
        <div class="form-group" >
          <%= f.label :uom, "UOM *", class: "position" %>
          <%= select_tag :uom, options_for_select([@update_receipts_params[:uom] || 'Select UOM', 'CAS30', 'CAS10', 'CAS05', 'LBS']), { autofocus: true, class: "form-control mb-3", id: "uom_select_dropdown", required: true } %><br>
          <p id='select-uom-error' style='float:left; display:none; font-size: 13px; margin-top: -34px !important;'>*Required</p>
          <p></p>
        </div>
      </div>

      <div class="col-2">
        <div class="form-group" >
          <%= f.label :coo, "Co. of Orig * ",  class: "position" %>
           <%= select_tag  :coo, options_for_select(['Select country of origin'] + @countries.collect {|p| [p.countryoforigin]}, @receiptdetail.coo), { autofocus: true, class: "form-control mb-3", id: "coo_select_dropdown", required: true } %><br>
          <p  id='select-coo-code-error' style='float:left; display:none; font-size: 13px; margin-top: -34px !important;'>*Required</p>
        </div>
      </div>  

      <div class="col-2">
        <div class="form-group">
          <%= f.label :freezernum, "Freezer #", class: "position" %>
          <%= f.text_field :freezernum, value: @update_receipts_params[:freezernum], class: 'form-control', id: 'freezernum' %><br>
          <p></p>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <%= f.label :side, "Side", class: "position" %>
          <%= f.text_field :side, value: @update_receipts_params[:side], class: 'form-control', id: 'side' %><br>
          <p></p>
        </div>
      </div>
  
      <div class="col-2">
        <div class="form-group">
          <%= f.label :racknum, "Rack #", class: "position" %>
          <%= f.text_field :racknum, value: @update_receipts_params[:racknum], class: 'form-control', id: 'racknum' %><br>
          <p></p>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <%= f.label :location, "Location", class: "position" %>
          <%= f.text_field :location, value: @update_receipts_params[:location], class: 'form-control', id: 'location' %><br>
          <p></p>
        </div>   
      </div>

      <!-- Add a div for the submit button -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class='position-centerish' style='height:50px;'>
            <%= link_to 'Back', receipts_details_path(spc: params[:spc] || @receiptdetail.spc), class: "btn btn-light btn-sm btn-search", style: "width:25%; margin-right: 50px !important;" %>
            <%= f.submit 'Update Receipt Details', class: 'btn btn-sm btn-primary', style: "width:25%;" %>
          </div>
        </div>
      </div>

  <% end %>

</div>
<!-- END CARD BODY -->


</div>
<br>
<br>
<script>
  document.addEventListener("turbo:load", function () {
    
    $("#up-arrow").hide()

    var errors_array = []

    var spc  = $("#spc").val()
    var codigo = $("#codigo_select_dropdown").val()
    var pallet = $("#pallet").val()
    var lot = $("#lot").val()
    var lbo = $("#lbo").val()
    var quantity = $("#quantity").val()
    var uom = $("#uom_select_dropdown").val()
    var coo = $("#coo_select_dropdown").val()


    if (spc === null || spc === undefined || spc === '') {
      errors_array.push('spc')
    }

    if (codigo == 'Select Codigo') {
      errors_array.push('codigo');
    }

    if (pallet === null || pallet === undefined || pallet === '') {
      errors_array.push('pallet');
    }

    if (lot === null || lot === undefined || lot === '') {
      errors_array.push('lot');
    }

    if (lbo === null || lbo === undefined || lbo === '') {
      errors_array.push('lbo');
    }

    if (quantity === null || quantity === undefined || quantity === '') {
        errors_array.push('quantity');
    }
  
    if (uom == 'Select UOM') {
        errors_array.push('uom');
    }

    if (coo == 'Select country of origin') {
      errors_array.push('coo');
    }

    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)


    $("#spc").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-spc-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'spc');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        if (errors_array.includes('spc')) {
          checkError(errors_array)
        } else {
          errors_array.push('spc')
          checkError(errors_array)
        }
      }
    })

    $("#codigo_select_dropdown").on("click keyup", function() {// && this.value >= 1
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-codigo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'codigo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('codigo')
        checkError(errors_array)
      }
    })


    $("#pallet").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-pallet-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'pallet');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('pallet')
        checkError(errors_array)
      }
    })

    $("#lot").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-lot-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'lot');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('lot')
        checkError(errors_array)
      }
    })

    $("#lbo").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-lbo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'lbo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('lbo')
        checkError(errors_array)
      }
    })


      $("#quantity").on("click keyup", function() {
        $('.element').hide();
        if (this.value !== null && this.value !== undefined && this.value !== '') {
  
          $("#select-quantity-error").hide().removeClass("text-danger criteria-display-smplbw");
          errors_array = errors_array.filter(item => item !== 'quantity');
          if (errors_array.length <= 0) {
            initiateValidate()
          }
          //checkError(errors_array)
        } else {
          errors_array.push('quantity')
          checkError(errors_array)
        }
      })

    $("#uom_select_dropdown").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== 'Select UOM') {

        $("#select-uom-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'uom');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('uom')
        checkError(errors_array)
      }
    })  

    $("#coo_select_dropdown").on("change", function() {
      $('.element').hide();
      if (this.value !== 'Select country of origin') {

        $("#select-coo-code-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'coo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
      } else {
        errors_array.push('coo')
        checkError(errors_array)
      }
    })


    function checkError(errors_array) {
      //console.log(errors_array)
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-spc-error").hide();
        $("#select-codigo-error").hide();
        $("#select-pallet-error").hide();
        $("#select-lot-error").hide();
        $("#select-lbo-error").hide();
        $("#select-quantity-error").hide();
        $("#select-uom-error").hide();
        $("#select-coo-code-error").hide();
        $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
        
      } else {
        $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "spc":
              $("#select-spc-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "codigo":
              $("#select-codigo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "pallet":
              $("#select-pallet-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "lot":
              $("#select-lot-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "lbo":
              $("#select-lbo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "quantity":
              $("#select-quantity-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "uom":
              $("#select-uom-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "coo":
              $("#select-coo-code-error").show().addClass("text-danger criteria-display-smplbw");
              break;              
          }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
    }

    
  });
</script>
