<style>
.border-settings {
  border-bottom: 1.5px solid black;
}

.position {
  float: left;
}

.accordion {
  padding-top: 50px;
}


.accordionDiv {
  display: flex;
  justify-content: center;
}

label {
  font-weight: 600;
}

#coo_select_dropdown {
  margin-bottom: 0px !important;
}

#codigo_select_dropdown {
  margin-bottom: 0px !important;
}

.format-position h3 {
    margin: 2px 0; 
  }

</style>


<div class="content-squish-screens-less-strict" style="margin-left: 8% !important; margin-right: 8% !important;">
  <% if @shipmentDetails.any? %>
    <div class="row">
      <div class="col">
        <div class="" style="background-color: #f4f4f4; padding: 20px;">

          <div class="row" style="padding-bottom: 15px;">
            <div class="col">
              <h2 style="font-size: 24px;">Shipment Details: <%= @clientpo %></h2>
            </div>
            <div class="col">
              <div class="format-position" style="float:right; text-align: right;">
                <h3 style="font-size: 16px; padding-bottom: 25px;">Total Quantity: <%= number_with_delimiter(@qty, delimiter: ",") || 0 %> LBS</h3>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: -35px; padding-bottom: 10px;">
            <div class="col">     
            </div>
            <div class="col" style="float:right; text-align: right;">
              <%= link_to 'Back', warehouse_withdrawals_path, class: "btn btn-light btn-sm btn-search", style: "min-width: 100px;" %>
              <%= link_to 'Select Receipt', select_criteria_path(from: 'SHIP', clientpoORprodid: @clientpo), data: { turbo_frame: "select_criteria_modal" }, class: "btn btn-light btn-sm btn-search", style: "max-width: 200px;" %>
            </div>
          </div>

          <div class="row justify-content-center" style="text-align: center;">
            
              <div class="table-responsive resptbl-class">
                <table id="ftztable" class="table table-striped table-sm table-hover display responsive no-wrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Client PO</th>
                        <th>SPC</th>
                        <th>Line#</th>
                        <th>Codigo</th>
                        <th>Pallet</th>
                        <th>Lot</th>
                        <th>LBO</th>
                        <th>COO</th>
                        <th>UOM</th>
                        <th>Quantity</th>
                        <th>Freezer#</th>
                        <th>Rack#</th>
                        <th>Side</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <% @shipmentDetails.each do |f| %>
<!--
                        <tr>
                          <td colspan="1" style="text-align:center;">
                            <%#= link_to '<i class="fas fa-pencil-alt fa-md center" aria-hidden="true" style="float: none; padding-left: 9px;"></i>'.html_safe, update_shipments_details_path(id: f.id), method: :get, class: "icon-edit" %>
                            <%#= link_to '<i class="fas fa-trash-alt fa-md center" aria-hidden="true" style="float: none; color: #d50015; padding-left: 9px;"></i>'.html_safe, verify_delete_path(caller: "shipments_details", id: f.id, clientpo: f.clientpo), method: :get, remote: true, class: "icon-delete" %>
                          </td>
-->
                          <td><%= f.id %></td>
                          <td><%= f.clientpo %></td>
                          <td><%= f.spc %></td>
                          <td><%= f.lineno %></td>
                          <td><%= f.codigo %></td>
                          <td><%= f.pallet %></td>
                          <td><%= f.lot %></td>
                          <td><%= f.lbo %></td>
                          <td><%= f.coo %></td>
                          <td><%= f.uom %></td>
                          <td><%= f.quantity %></td>
                          <td><%= f.freezernum %></td>
                          <td><%= f.racknum %></td>
                          <td><%= f.side %></td>
                          <td><%= f.location %></td>
  <!--
                          <%# if 1 == 1 %>
                            <td colspan="1" style="text-align:center;"> 
                              <%#= link_to 'Add Details', receipts_details_path(clientpo: f.clientpo), class: "btn btn-light btn-sm btn-search", style: "margin-right: 10px;" %>  
                            </td>
                          <%# else %>
                          <td colspan="1" style="text-align:center;">
                              <button style="text-decoration: underline dashed; font-style: italic;" type="button" class="popoverBtn btn" data-bs-custom-class="custom-popover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Once a receipt has been depleted, it may no longer be edited or deleted.">
                                N/A
                              </button>
                            </td>
                          <%# end %>
  -->

                        </tr>
                      <% end %>
                    </tbody>
                </table>
              </div>
              <div class="ftz_pagination">

                <%= will_paginate @shipmentDetails, :previous_label => 'prev', :next_label => 'next', param_name: 'details_page' %>

              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END CARD BODY -->

  <% else %>
    <div class="row justify-content-center" style="text-align: center; ">
      
        <div class="" style="background-color: #f4f4f4; padding: 20px; width: 50%;">
          <div class="row">
            <div class="col">
              <h2 style="font-size: 24px; margin-bottom: 10px;">Shipment Details: <%= @clientpo %></h2>
              <span style="font-size:16px; font-style:italic; padding-bottom: 10px;">No recorded shipment details</span>
            </div>
          </div>      
          <br>
          <div class="row justify-content-center" style="text-align: center;">
            <div class="row">
              <div class="col">
                <%= link_to 'Back', warehouse_withdrawals_path, class: "btn btn-light btn-sm btn-search", style: "width: 60%; max-width: 200px; float: right;" %>
              </div>
              <div class="col">
                <%= link_to 'Select Receipt', select_criteria_path(from: 'SHIP', clientpoORprodid: @clientpo), data: { turbo_frame: "select_criteria_modal" }, class: "btn btn-light btn-sm btn-search", style: "width: 60%; max-width: 200px; float: left;" %>
              </div>
            </div>
              <br>
          </div>
        </div>

    </div>
  <% end %>
</div>
<br>
<br>
