<div class="warehousereceiptdetailsuniqueidentifier content-squish-screens" style="background-color: #f4f4f4; padding: 20px; border-left: 3px solid #000000;">
<h1 style="font-size: 30px; padding-bottom: 30px;">Update Shipment Details</h1>

  <%= form_with model: @updateshipmentdetail, url: update_shipments_details_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :id, value: @updateshipmentdetail.id, id: 'id' %>
    <div class="row justify-content-center" style="text-align: center;">

      <div class="col-3">
        <div class="form-group">
          <%= f.label :clientpo, "Client PO" %>
          <%= f.text_field :clientpo, class: 'form-control', id: 'clientpo', readonly: true %><br>
          <p id='select-clientpo-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'></p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <%= f.label :spc, "SPC *" %>
          <%= f.text_field :spc, class: 'form-control', id: 'spc' %><br>
          <p id='select-spc-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :lineno, "Line #" %>
          <%= f.number_field :lineno, class: 'form-control', id: 'lineno' %><br>
        </div>
      </div>


      <div class="col-3">
        <div class="form-group">
          <%= f.label :codigo, "Codigo *" %>
          <%= select_tag  :codigo, options_for_select(@codigo.collect {|p| [p.sku]}, @updateshipmentdetail.codigo), { autofocus: true, class: "form-control mb-3", id: "codigo_select_dropdown", required: true } %><br>
          <p id='select-codigo-error' style='float:left; display:none; font-size: 13px; margin-top: -34px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <%= f.label :pallet, "Pallet *" %>
          <%= f.text_field :pallet, class: 'form-control', id: 'pallet' %><br>
          <p id='select-pallet-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :lot, "Lot *" %>
          <%= f.text_field :lot, class: 'form-control', id: 'lot' %><br>
          <p  id='select-lot-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>


      <div class="col-3">
        <div class="form-group" >
          <%= f.label :lbo, "LBO *" %>
          <%= f.text_field :lbo, class: 'form-control', id: 'lbo' %><br>
          <p  id='select-lbo-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group" >
          <%= f.label :quantity, "Quantity *" %>
          <%= f.number_field :quantity, class: 'form-control', id: 'quantity' %><br>
          <p  id='select-quantity-error' style='float:left; display:none; font-size: 13px; margin-top: -20px !important;'>*Required</p>
          <p></p>
        </div>
      </div>

      
      <div class="col-3">
        <div class="form-group" >
          <%= f.label :coo, "Country of Origin *" %>
          <%= select_tag :coo, options_for_select(['Select country of origin'] + @countries.collect {|p| [p.countryoforigin]}, @updateshipmentdetail.coo),{ autofocus: true, class: " form-control mb-3", id: "coo_select_dropdown", required: true}%><br>
          <p  id='select-coo-error' style='float:left; display:none; font-size: 13px; margin-top: -34px !important;'>*Required</p>
        </div>
      </div>

      <!-- Add a div for the submit button -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class='position-centerish' style='height:50px;'>
            <%= link_to 'Back', shipments_details_path, class: "btn btn-light btn-sm btn-search", style: "width:25%; margin-right: 50px !important;" %>
            <%= f.submit 'Update Shipments Details', class: 'btn btn-sm btn-primary', style: "width:25%;" %>
          </div>
        </div>
      </div>

  <% end %>

</div>
<!-- END CARD BODY -->


</div>
<br>
<br>
<script>
  document.addEventListener("turbo:load", function () {
    
    $("#up-arrow").hide()

    var errors_array = []

    var clientpo  = $("#clientpo").val()
    var spc  = $("#spc").val()
    var codigo = $("#codigo_select_dropdown").val()
    var pallet = $("#pallet").val()
    var lot = $("#lot").val()
    var lbo = $("#lbo").val()
    var quantity = $("#quantity").val()
    var coo = $("#coo_select_dropdown").val()

    if (clientpo === null || clientpo === undefined || clientpo === '') {
        errors_array.push('clientpo')
      }

    if (spc === null || spc === undefined || spc === '') {
      errors_array.push('spc')
    }

    if (codigo === null || codigo === undefined || codigo === '') {
      errors_array.push('codigo');
    }

    if (pallet === null || pallet === undefined || pallet === '') {
      errors_array.push('pallet');
    }

    if (lot === null || lot === undefined || lot === '') {
      errors_array.push('lot');
    }

    if (lbo === null || lbo === undefined || lbo === '') {
      errors_array.push('lbo');
    }

    if (quantity === null || quantity === undefined || quantity === '') {
        errors_array.push('quantity');
    }
  
    if (coo == 'Select country of origin') {
        errors_array.push('coo');
    }

    if (lineno === null) {
      errors_array.push('lineno');
    }



    if (errors_array.length > 0) {
      $("input[type='submit']").prop("disabled", true);
    }
    checkError(errors_array)

    $("#clientpo").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-clientpo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'clientpo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        if (errors_array.includes('clientpo')) {
          checkError(errors_array)
        } else {
          errors_array.push('clientpo')
          checkError(errors_array)
        }
      }
    })

    $("#spc").on("change click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-spc-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'spc');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        if (errors_array.includes('spc')) {
          checkError(errors_array)
        } else {
          errors_array.push('spc')
          checkError(errors_array)
        }
      }
    })


    $("#codigo_select_dropdown").on("click keyup", function() {// && this.value >= 1
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-codigo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'codigo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('codigo')
        checkError(errors_array)
      }
    })


    $("#pallet").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {
        $("#select-pallet-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'pallet');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('pallet')
        checkError(errors_array)
      }
    })

    $("#lot").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-lot-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'lot');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('lot')
        checkError(errors_array)
      }
    })

    $("#lbo").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-lbo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'lbo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('lbo')
        checkError(errors_array)
      }
    })


    $("#quantity").on("click keyup", function() {
      $('.element').hide();
      if (this.value !== null && this.value !== undefined && this.value !== '') {

        $("#select-quantity-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'quantity');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('quantity')
        checkError(errors_array)
      }
    })

    $("#coo_select_dropdown").on("click keyup", function() {
      $('.element').hide();
      if (this.value != 'Select country of origin') {

        $("#select-coo-error").hide().removeClass("text-danger criteria-display-smplbw");
        errors_array = errors_array.filter(item => item !== 'coo');
        if (errors_array.length <= 0) {
          initiateValidate()
        }
        //checkError(errors_array)
      } else {
        errors_array.push('coo')
        checkError(errors_array)
      }
    })


    function checkError(errors_array) {
      //console.log(errors_array)
      if (errors_array.length <= 0) {
        $("input[type='submit']").prop("disabled", false);
        $("#select-clientpo-error").hide()
        $("#select-spc-error").hide()
        $("#select-codigo-error").hide();
        $("#select-pallet-error").hide();
        $("#select-lot-error").hide();
        $("#select-lbo-error").hide();
        $("#select-quantity-error").hide();
        $("#select-coo-error").hide();
        $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
        
      } else {
        $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-good').addClass('progress-border-bad');
        $("input[type='submit']").prop("disabled", true);
        for (error of errors_array) {

          switch (error) {
            case "clientpo":
                $("#select-clientpo-error").show().addClass("text-danger criteria-display-smplbw");
                break;
            case "spc":
              $("#select-spc-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "codigo":
              $("#select-codigo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "pallet":
              $("#select-pallet-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "lot":
              $("#select-lot-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "lbo":
              $("#select-lbo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "quantity":
              $("#select-quantity-error").show().addClass("text-danger criteria-display-smplbw");
              break;
            case "coo":
              $("#select-coo-error").show().addClass("text-danger criteria-display-smplbw");
              break;
          }
        }
      }
    }

    function initiateValidate() {
      $("input[type='submit']").prop("disabled", false);
      $('.warehousereceiptdetailsuniqueidentifier').removeClass('progress-border-bad').addClass('progress-border-good');
    }

    
  });
</script>
