<!DOCTYPE html>
<html>
<head>
  <title>Navigation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "navigation", media: "all" %>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
  <div class="row myBackgroundNavBarTop content-squish justify-content-center">
    <div class="col-3">
    </div>
    
    <div class="col d-flex justify-content-center">
      <div class="logo-wms" id="logo">Zeiss Recon</div>
    </div>

    <div class="col-3">
      <div class="dropdown dropdown-styles">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_nav" data-bs-toggle="dropdown">
          <%= current_user.username %>
        </button>
        <div class="dropdown-menu dropdown-menu-nav">
          <% if current_user.admin? %>
            <li class="navtransition"><a class="dropdown-item" href="<%= admin_path %>">Admin</a></li>
          <% end %>
          <li class="navtransition">
            <%= link_to "Log Out", logout_path, class: "txtform dropdown-item", method: :get %>
          </li>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
